<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'Créditos Oficiales'" [items]="['Inicio','Solicitudes']"
          [active_item]="'Historial Académico'">
        </app-breadcrumb>
      </div>
      <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="card">
            <div class="header">
              <h2 class="text-uppercase"><strong>Historial Académico</strong></h2>
            </div>
            <div class="body">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="card">
                    <div class="body overflow-auto">
                      <form class="register-form m-4" [formGroup]="creditosOficialesForm">
                        <div class="row">
                          <div class="col-xl-4 col-lg-4 col-md-4 row-cols-sm-4  mb-2">
                            <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>Formación Especializada</mat-label>
                              <mat-select formControlName="formacionEspecializada">
                                <mat-option [value]="" selected></mat-option>
                                <!-- [disabled]="item.efAcademicRecordIsReentry" -->
                                <mat-option *ngFor="let item of lstDegree" [value]="item.efAcademicRecord">
                                  <ng-container>
                                    {{item.degree.name}}
                                  </ng-container>
                                  <!-- <ng-container *ngIf="item.efAcademicRecordIsReentry===true">
                                    {{item.degree.name}} <span class='badge badge-solid-red'>Inactivo</span>
                                  </ng-container> -->
                                </mat-option>
                              </mat-select>
                              <mat-error
                                *ngIf="creditosOficialesForm.get('formacionEspecializada')?.hasError('required')">
                                Seleccione la formación especializada
                              </mat-error>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                            <div class="example-button-row">
                              <button (click)="generarOficialCredit()" mat-raised-button color="primary"
                                [disabled]="!creditosOficialesForm.valid">
                                <app-feather-icons [icon]="'download'"></app-feather-icons>
                                Descargar</button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
