<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <div class="modal-about">
                    {{dialogTitle}}
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <form *ngIf="action == 'add'" class="register-form m-4" [formGroup]="AsistenciaForms" (ngSubmit)="submit">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <mat-form-field class="example-full-width " appearance="outline">

                        <mat-label>Fecha de Asistencia</mat-label>
                        <input matInput [matDatepicker]="fechaInicio" formControlName="startDate">
                        <mat-datepicker-toggle matSuffix [for]="fechaInicio"></mat-datepicker-toggle>
                        <mat-datepicker #fechaInicio></mat-datepicker>
                        <mat-error *ngIf="AsistenciaForms.get('startDate')?.hasError('required')">
                            Selecciones una fecha
                        </mat-error>
                        <mat-error *ngIf="AsistenciaForms.get('startDate')?.hasError('required')">
                            Es requerido
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <mat-form-field class="example-full-width " appearance="outline">
                        <mat-label>Asistio</mat-label>
                        <mat-select formControlName="statusId">
                            <mat-option [value]="true">
                                Si
                            </mat-option>
                            <mat-option [value]="false">
                                No
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="AsistenciaForms.get('statusId')?.hasError('required')">
                            Es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
                <button mat-raised-button color="primary" [disabled]="!AsistenciaForms.valid"
                    (click)="submit()">Guardar</button>
            </div>
        </form>

        <div *ngIf="action == 'view'" class="body table-responsive">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Filtro</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder=".....">
            </mat-form-field>
            <mat-progress-bar mode="indeterminate" *ngIf="IsLoading"></mat-progress-bar>
            <table *ngIf="!IsLoading" mat-table [dataSource]="ListAsistence" class="w-100">
                <ng-container matColumnDef="cedula">
                    <th mat-header-cell *matHeaderCellDef>Cédula</th>
                    <td mat-cell *matCellDef="let element"> {{element.cedula}} </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                <ng-container matColumnDef="lastname">
                    <th mat-header-cell *matHeaderCellDef>apelldio </th>
                    <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
                </ng-container>
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef>Fecha Creación </th>
                    <td mat-cell *matCellDef="let element"> {{element.date | date:'dd/M/yyyy'}} </td>
                </ng-container>
                <ng-container matColumnDef="attended">
                    <th mat-header-cell *matHeaderCellDef>Asistio/No Asistio. </th>
                    <td mat-cell *matCellDef="let element"> {{element.attended===true?"Si":"No"}} </td>
                </ng-container>
                <ng-container matColumnDef="profesor">
                    <th mat-header-cell *matHeaderCellDef>Docente </th>
                    <td mat-cell *matCellDef="let element"> {{element.docente}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator #pagination [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>