<section class="content">
  <div class="content-block">
    <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'Formación Especializada'" [items]="['Inicio','Ofertas Académicas','Formación Especializada']"
        [active_item]="'Listado de Planes Anuales Aprobados'">
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2 class="text-uppercase"><strong>Listado de Planes Anuales Aprobados</strong></h2>
          </div>
          <div class="body">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                  <div class="materialTableHeader">
                    <div class="left">
                      <ul class="header-buttons-left ms-0">
                        <li class="tbl-title">
                          <h2>Planes</h2>
                        </li>
                        <li class="tbl-search-box">
                          <label for="search-input"><i class="material-icons search-icon">search</i></label>
                          <input placeholder="Buscar" (keyup)="filtrar($event)" type="text" #filter class="browser-default search-field"
                            aria-label="Search box">
                        </li>
                      </ul>
                    </div>
                    <div class="right">
                      <ul class="tbl-export-btn">

                        <li class="tbl-header-btn">
                          <div class="m-l-10" matTooltip="Recargar">
                            <button mat-mini-fab color="primary" (click)="loadData()">
                              <mat-icon class="col-white">refresh</mat-icon>
                            </button>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="body overflow-auto">
                    <div class="responsive_table">
                      <mat-progress-bar mode="indeterminate" *ngIf="IsLoading"></mat-progress-bar>
                      <table mat-table [dataSource]="dataSource" matSort class="mat-cell advance-table" *ngIf="!IsLoading">
                        <ng-container matColumnDef="description">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Descripción
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row">
                            <span class="mobile-label">Descripción:</span>{{row.description }}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="startDate">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Inicio
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row">
                            <span class="mobile-label">Fecha Inicio:</span>{{row.startDate |
                            date:'dd/M/yyyy'}}</mat-cell>
                        </ng-container>
						<ng-container matColumnDef="endDate">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Fin
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row">
                            <span class="mobile-label">Fecha Fin:</span>{{row.endDate |
                            date:'dd/M/yyyy'}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="statusId">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Estado
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row">
                             <span class="badge badge-solid-green">{{ row.statusId|statusPipe }}</span></mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="action">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Acción
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row">
                             <button mat-mini-fab color="primary" title="Ver Carrera"
                                (click)="inscribirse(row.id)" class="tbl-action-btn">
                                <app-feather-icons [icon]="'eye'"></app-feather-icons>
                                </button></mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"
                          [style.cursor]="'pointer'" matRipple>
                        </mat-row>
                      </table>
                      <div *ngIf="!IsLoading" class="no-results"
                      [style.display]="lstCarreras.length === 0 ? '' : 'none'">
                      No results
                    </div>
                    <mat-paginator #paginator [pageIndex]="0" [pageSize]="5"
                      [pageSizeOptions]="[5, 10, 25, 100]">
                    </mat-paginator>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
