<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Estudiante'" [items]="['Inicio','Estudiante']" [active_item]="'Actualizar Datos'">
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3" style="text-align: left;">
              <h2 class="text-uppercase">{{header}}</h2>
            </div>
          </div>
          <div class="body">
            <form [formGroup]="studentForm!" style="margin-top: 10px!important;">
              <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-3 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width " appearance="outline">
                    <mat-label>Cédula/Pasaporte(8-888-888)</mat-label>
                    <input matInput formControlName="cedula" [readonly]="true">
                    <mat-error *ngIf="studentForm.get('cedula')?.hasError('required')">
                      Es Requisito
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width " appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="name" [readonly]="true">
                    <mat-error *ngIf="studentForm.get('name')?.hasError('required')">
                      Es Requitos
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width " appearance="outline">
                    <mat-label>Apellido</mat-label>
                    <input matInput formControlName="lastName" [readonly]="true">
                    <mat-error *ngIf="studentForm.get('lastName')?.hasError('required')">
                      Es Requitos
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width " appearance="outline">
                    <mat-label>Correo electrónico</mat-label>
                    <input matInput formControlName="email" [readonly]="true">
                    <mat-error *ngIf="studentForm.get('email')?.hasError('required')">
                      Es Requitos
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width " appearance="outline">
                    <mat-label>Sexo</mat-label>
                    <mat-select formControlName="gender">
                      <mat-option value="F">Femenino</mat-option>
                      <mat-option value="M">Masculino</mat-option>
                    </mat-select>
                    <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>edit</mat-icon>
                    <mat-error *ngIf="studentForm.get('gender')?.hasError('required')">
                      Es Requisito
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <!--   ASPIRANTES -->
              <div *ngIf="aspirante">
                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width " appearance="outline">
                      <mat-label>Lugar de nacimiento</mat-label>
                      <input matInput formControlName="placeOfBirth">
                      <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>edit</mat-icon>
                      <mat-error *ngIf="studentForm.get('placeOfBirth')?.hasError('required')">
                        Es Requitos
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Fecha de nacimiento</mat-label>
                      <input matInput [matDatepicker]="fechaNacimiento" formControlName="dateOfBirth">
                      <mat-datepicker-toggle matSuffix [for]="fechaNacimiento"></mat-datepicker-toggle>
                      <mat-datepicker #fechaNacimiento></mat-datepicker>
                      <mat-error *ngIf="studentForm.get('dateOfBirth')?.hasError('required')">
                        Es Requitos
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width " appearance="outline">
                      <mat-label>Dirección de residencia</mat-label>
                      <input [readonly]="participante && !aspirante" matInput formControlName="placeResidence">
                      <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>edit</mat-icon>
                      <mat-error *ngIf="studentForm.get('placeResidence')?.hasError('required')">
                        Es Requitos
                      </mat-error>
                    </mat-form-field>
                  </div>

                </div>

                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width " appearance="outline">
                      <mat-label>Número Telefónico</mat-label>
                      <input matInput formControlName="telephoneNumber">
                      <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>edit</mat-icon>
                      <mat-error *ngIf="studentForm.get('telephoneNumber')?.hasError('required')">
                        Es Requisito
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width " appearance="outline">
                      <mat-label>Estado civil</mat-label>
                      <mat-select formControlName="maritalStatus">
                        <mat-option value="Soltero">Soltero(a)</mat-option>
                        <mat-option value="Casado">Casado(a)</mat-option>
                        <mat-option value="Viudo">Viudo(a)</mat-option>
                        <mat-option value="Divorciado">Divorciado(a)</mat-option>
                      </mat-select>
                      <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>edit</mat-icon>
                      <mat-error *ngIf="studentForm.get('maritalStatus')?.hasError('required')">
                        Es Requisito
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width " appearance="outline">
                      <mat-label>Nombre del Cónyugue</mat-label>
                      <input matInput formControlName="nameOfspouse">
                      <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>edit</mat-icon>
                      <mat-error *ngIf="studentForm.get('nameOfspouse')?.hasError('required')">
                        Es Requisito
                      </mat-error>
                    </mat-form-field>
                  </div>

                </div>
                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width " appearance="outline">
                      <mat-label>No. de hijos</mat-label>
                      <input matInput formControlName="numberofchildren">
                      <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>edit</mat-icon>
                      <mat-error *ngIf="studentForm.get('numberofchildren')?.hasError('required')">
                        Es Requisito
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width " appearance="outline">
                      <mat-label>Caso de emergencia avisar a</mat-label>
                      <input matInput formControlName="caseOfemergency">
                      <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>edit</mat-icon>
                      <mat-error *ngIf="studentForm.get('caseOfemergency')?.hasError('required')">
                        Es Requisito
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width " appearance="outline">
                      <mat-label>Número residencial y/o celular (emergencia)</mat-label>
                      <input matInput formControlName="telephoneNumberEmergency">
                      <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>edit</mat-icon>
                      <mat-error *ngIf="studentForm.get('telephoneNumberEmergency')?.hasError('required')">
                        Es Requisito
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Posee alguna capacidad diferente</mat-label>
                      <mat-select formControlName="specialCapacity" (selectionChange)="limpiarCasmposSpecialCapacity()">
                        <mat-option value=True>Si</mat-option>
                        <mat-option value=False>No</mat-option>
                      </mat-select>
                      <mat-error *ngIf="studentForm.get('specialCapacity')?.hasError('required')">
                        Requerido
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width " appearance="outline">
                      <mat-label>Tipo de sangre</mat-label>
                      <input matInput formControlName="bloodtype">
                      <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>edit</mat-icon>
                      <mat-error *ngIf="studentForm.get('bloodtype')?.hasError('required')">
                        Es Requisito
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div *ngIf="studentForm.value.specialCapacity === 'True'" class="row">
                  <h5 class="text-uppercase"><strong>CAPACIDADES ESPECIALES</strong></h5>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Visual</mat-label>
                      <mat-select formControlName="visual">
                        <mat-option value=True>Si</mat-option>
                        <mat-option value=False>No</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Auditiva</mat-label>
                      <mat-select formControlName="auditory">
                        <mat-option value=True>Si</mat-option>
                        <mat-option value=False>No</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Cognitiva</mat-label>
                      <mat-select formControlName="cognitive">
                        <mat-option value=True>Si</mat-option>
                        <mat-option value=False>No</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Física</mat-label>
                      <mat-select formControlName="physical">
                        <mat-option value=True>Si</mat-option>
                        <mat-option value=False>No</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div *ngIf="studentForm.value.specialCapacity === 'True'" class="row">
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width " appearance="outline">
                      <mat-label>Describa la misma</mat-label>
                      <input matInput formControlName="specific">
                      <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>edit</mat-icon>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width " appearance="outline">
                      <mat-label>Otra</mat-label>
                      <input matInput formControlName="others">
                      <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>edit</mat-icon>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Utilización de silla de ruedas</mat-label>
                      <mat-select formControlName="usesAwheelchair">
                        <mat-option value=True>Si</mat-option>
                        <mat-option value=False>No</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <!-- Participantes -->
              <div *ngIf="participante">
                <div class="row">

                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width " appearance="outline">
                      <mat-label>Institución</mat-label>
                      <mat-select *ngIf="participationProfile===1" formControlName="institution">
                        <mat-option *ngFor="let row of InstitutionList" [value]="row.name">{{row.name}}</mat-option>
                      </mat-select>
                      <input *ngIf="participationProfile!==1" formControlName="institution" matInput autocomplete="off" />
                      <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>edit</mat-icon>
                      <mat-error *ngIf="studentForm.get('institution')?.hasError('required')">
                        Es Requisito
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width " appearance="outline">
                      <mat-label>Universidad</mat-label>
                      <mat-select formControlName="university">
                        <mat-option [value]=""></mat-option>
                        <mat-option *ngFor="let row of UniversityList" [value]="row.name">{{row.name}}</mat-option>
                      </mat-select>
                      <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>edit</mat-icon>
                      <mat-error *ngIf="studentForm.get('university')?.hasError('required')">
                        Es Requisito
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width " appearance="outline">
                      <mat-label>Dependencia</mat-label>
                      <mat-select *ngIf="participationProfile===1" formControlName="dependency">
                        <mat-option *ngFor="let row of DependencyList" [value]="row.nombre_dependencia">{{row.nombre_dependencia}}</mat-option>
                      </mat-select>
                      <input *ngIf="participationProfile!==1" formControlName="dependency" matInput autocomplete="off" />
                      <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>edit</mat-icon>
                      <mat-error *ngIf="studentForm.get('dependency')?.hasError('required')">
                        Es Requisito
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width " appearance="outline">
                      <mat-label>Entidad Cooperadora</mat-label>
                      <mat-select *ngIf="participationProfile===1" formControlName="cooperatingEntity">
                        <mat-option *ngFor="let row of OrganismoCopList" [value]="row.name">{{row.name}}</mat-option>
                      </mat-select>
                      <input *ngIf="participationProfile!==1" formControlName="cooperatingEntity" matInput autocomplete="off" />
                      <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>edit</mat-icon>
                      <mat-error *ngIf="studentForm.get('cooperatingEntity')?.hasError('required')">
                        Es Requisito
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width " appearance="outline">
                      <mat-label>Posición</mat-label>
                      <mat-select *ngIf="participationProfile===1" formControlName="position">
                        <mat-option *ngFor="let row of CargosList" [value]="row.nombre_completo">{{row.nombre_completo}}</mat-option>
                      </mat-select>
                      <input *ngIf="participationProfile!==1" formControlName="position" matInput autocomplete="off" />
                      <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>edit</mat-icon>
                      <mat-error *ngIf="studentForm.get('position')?.hasError('required')">
                        Es Requisito
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width " appearance="outline">
                      <mat-label>Provincia</mat-label>
                      <mat-select formControlName="province">
                        <mat-option [value]=""></mat-option>
                        <mat-option value="BOCAS DEL TORO">BOCAS DEL TORO</mat-option>
                        <mat-option value="COCLÉ">COCLÉ</mat-option>
                        <mat-option value="COLÓN">COLÓN</mat-option>
                        <mat-option value="CHIRIQUÍ">CHIRIQUÍ</mat-option>
                        <mat-option value="DARIÉN">DARIÉN</mat-option>
                        <mat-option value="HERRERA">HERRERA</mat-option>
                        <mat-option value="LOS SANTOS">LOS SANTOS</mat-option>
                        <mat-option value="PANAMÁ">PANAMÁ</mat-option>
                        <mat-option value="VERAGUAS">VERAGUAS</mat-option>
                        <mat-option value="COMARCA GUNA YALA">COMARCA GUNA YALA</mat-option>
                        <mat-option value="COMARCA EMBERÁ-WOUNAAN">COMARCA EMBERÁ-WOUNAAN</mat-option>
                        <mat-option value="COMARCA NGÄBE-BUGLÉ">COMARCA NGÄBE-BUGLÉ</mat-option>
                        <mat-option value="PANAMÁ OESTE">PANAMÁ OESTE</mat-option>
                      </mat-select>
                      <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>edit</mat-icon>
                      <mat-error *ngIf="studentForm.get('province')?.hasError('required')">
                        Es Requisito
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width " appearance="outline">
                      <mat-label>Distrito</mat-label>
                      <input matInput formControlName="judicialDistrict">
                      <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>edit</mat-icon>
                      <mat-error *ngIf="studentForm.get('judicialDistrict')?.hasError('required')">
                        Es Requisito
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width " appearance="outline">
                      <mat-label>Fecha de Invitación</mat-label>
                      <input matInput formControlName="invitationDate">
                      <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>edit</mat-icon>
                      <mat-error *ngIf="studentForm.get('invitationDate')?.hasError('required')">
                        Es Requisito
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </form>
            <div class="row clearfix">
              <div class="" style="margin-bottom: 20px;text-align: left;">
                <button matTooltip="Guardar" mat-raised-button color="primary" (click)="submit()">
                  <mat-icon>save</mat-icon> Guardar...
                </button>
              </div>
            </div>
          </div>
          <!-- <mat-progress-bar mode="indeterminate" *ngIf="_ActivityService.loading==true"></mat-progress-bar> -->
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="aspirante">
        <div class="card">
          <div class="header">
            <h2 class="text-uppercase"><strong>Experiencia Profesional</strong>

              <button (click)="openDialogIL()" matTooltip="Agregar experiencia"
                style="position: absolute;right: 5px;top: 5px;" mat-mini-fab color="primary">
                <mat-icon>add</mat-icon>
              </button>
            </h2>
          </div>
          <div class="body">
            <div class="body table-responsive">
              <table mat-table [dataSource]="DataStudent.listExperience" class="w-100">
                <!-- Id Column -->
                 <!-- Id Column -->
                 <ng-container matColumnDef="entidad">
                  <th mat-header-cell *matHeaderCellDef>ENTIDAD
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <span class="mobile-label">Entidad:</span>{{row.entidad}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="cargo">
                  <th mat-header-cell *matHeaderCellDef>CARGO
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <span class="mobile-label">:Cargo</span>{{row.position}}
                  </td>
                </ng-container>

                <ng-container matColumnDef="periodo">
                  <th mat-header-cell *matHeaderCellDef>PERIODO
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <span class="mobile-label">:PERIODO</span>{{row.period}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="meses">
                  <th mat-header-cell *matHeaderCellDef>MESES
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <span class="mobile-label">:Meses</span>{{row.months}}
                  </td>
                </ng-container>
                <!-- Acción Column -->
                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef> Acción </th>
                  <td mat-cell *matCellDef="let row">
                    <button (click)="RemoveExperience(row.id)" mat-mini-fab color="accent" matTooltip="Eliminar">
                      <mat-icon>restore_from_trash</mat-icon>
                    </button>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsExperience"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsExperience;"></tr>
              </table>
              <mat-paginator #paginator [pageSizeOptions]="[2, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
          </div>
          <!-- <mat-progress-bar mode="indeterminate" ></mat-progress-bar> -->
        </div>
      </div>


      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="aspirante">
        <div class="card">
          <div class="header">
            <h2 class="text-uppercase"><strong>Formación académica</strong>
                <button (click)="openDialogAC()" matTooltip="Agregar Formación Académica"
                style="position: absolute;right: 5px;top: 5px;" mat-mini-fab color="primary">
                <mat-icon>add</mat-icon>
              </button>
            </h2>
          </div>
          <div class="body">
            <div class="body table-responsive" *ngIf="DataStudent">
              <table mat-table [dataSource]="SourceAcademico" class="w-100">
                <!-- Id Column -->
                <ng-container matColumnDef="institucion">
                  <th mat-header-cell *matHeaderCellDef>INSTITUCIÓN EDUCATIVA
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <span class="mobile-label">:Institución</span>{{row.institutionOfeducation}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="programa">
                  <th mat-header-cell *matHeaderCellDef>PROGRAMA
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <span class="mobile-label">:PROGRAMA</span>{{row.program}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="titulo_obtenido">
                  <th mat-header-cell *matHeaderCellDef>TÍTULO OBTENIDO
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <span class="mobile-label">:Titulo
                      Obtenido</span>{{row.obtainedTitle}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="year">
                  <th mat-header-cell *matHeaderCellDef>AÑO
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <span class="mobile-label">:AÑO
                      Culminación</span>{{row.year}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="acciones">
                  <th mat-header-cell *matHeaderCellDef>Acciones
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <button (click)="deleteItemAC(row.id)" matTooltip="Eliminar"
                      mat-mini-fab color="accent">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="InformacionAcademica"></tr>
                <tr mat-row *matRowDef="let row; columns: InformacionAcademica;">
                </tr>
              </table>
              <mat-paginator #paginator [pageIndex]="0" [pageSize]="2" [pageSizeOptions]="[2, 10, 20]"
                [length]="SourceAcademico.filteredData.length"></mat-paginator>
            </div>
          </div>
          <!-- <mat-progress-bar mode="indeterminate" ></mat-progress-bar> -->
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="aspirante">
        <div class="card">
          <div class="header">
            <h2 class="text-uppercase"><strong>Documentos Formación Especializada</strong>
            </h2>
          </div>
          <div class="body" *ngIf="_ActivityService1.loading===false">
            <div class="body table-responsive">
              <table mat-table [dataSource]="dataDocumentsRequired" class="w-100">
                <ng-container matColumnDef="nombre">
                  <th mat-header-cell *matHeaderCellDef> Estado </th>
                  <td mat-cell *matCellDef="let element">{{ element.name }} </td>
                </ng-container>
                <ng-container matColumnDef="actualizar">
                  <th mat-header-cell *matHeaderCellDef> Actualizar documento </th>
                  <td mat-cell *matCellDef="let element">
                    <input id="archivo_{{ element.fileType }}" type="file" class="file-input"
                      (change)="onChangeFile($event, element.fileType,element)" />
                    <br>
                    <span style="font-size: 12px;color: brown;font-weight: bold;">PDF/JPG/PNG</span>
                    <p style="color: green;font-weight: bold;margin-top: 10px;" id="texto_{{ element.fileType }}"></p>
                    <mat-progress-bar mode="indeterminate" *ngIf="loadingFile1"></mat-progress-bar>
                  </td>
                </ng-container>
                <ng-container matColumnDef="estado">
                  <th mat-header-cell *matHeaderCellDef>Estado</th>
                  <td mat-cell *matCellDef="let element">
                    <span class="badge badge-solid-green" *ngIf="element.validate">Validado</span>
                    <span class="badge badge-solid-red" *ngIf="!element.validate">Sin Validar</span>
                  </td>
                </ng-container>
                <!-- Acción Column -->
                <ng-container matColumnDef="documentacion">
                  <th mat-header-cell *matHeaderCellDef> Documentación </th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-mini-fab (click)="verDocumento(element)" matTooltip="Ver documento adjuntado">
                      <mat-icon>remove_red_eye</mat-icon>
                    </button>
                    <button *ngIf="element.validate" color="primary" mat-mini-fab
                      matTooltip="Documento Validado Correctamente.">
                      <mat-icon>check_circle_outline</mat-icon>
                    </button>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="DisplayNameDocument"></tr>
                <tr mat-row *matRowDef="let row; columns: DisplayNameDocument;"></tr>
              </table>
              <mat-paginator #paginator [pageSizeOptions]="[2, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="participante">
        <div class="card">
          <div class="header">
            <h2 class="text-uppercase"><strong>Documentos Entrenamiento</strong>
            </h2>
          </div>
          <div class="body table-responsive" *ngIf="Array_GetDocResp.length>0">

            <table mat-table [dataSource]="dataDocuments" class="w-100">
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef> Nombre Documento </th>
                    <td mat-cell *matCellDef="let element">{{ element.name }} </td>
                </ng-container>
                <ng-container matColumnDef="actualizar">
                    <th mat-header-cell *matHeaderCellDef> Actualizar documento </th>
                    <td mat-cell *matCellDef="let element">
                        <input id="archivo_{{ element.fileType }}" type="file" class="file-input"
                            (change)="onChangeFile1($event, element.fileType,element)" />
                        <br>
                        <span style="font-size: 12px;color: brown;font-weight: bold;">PDF/JPG/PNG</span>
                        <p style="color: green;font-weight: bold;margin-top: 10px;"
                            id="texto_{{ element.fileType }}"></p>
                        <mat-progress-bar mode="indeterminate" *ngIf="loadingFile"></mat-progress-bar>
                    </td>
                </ng-container>
                <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef> Nombre Documento </th>
                    <td mat-cell *matCellDef="let element">
                        <span class="badge badge-solid-green" *ngIf="element.validate">Validado</span>
                        <span class="badge badge-solid-red" *ngIf="!element.validate">Sin Validar</span>
                    </td>
                </ng-container>

                <!-- Acción Column -->
                <ng-container matColumnDef="documentacion">
                    <th mat-header-cell *matHeaderCellDef> Documentación </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-mini-fab (click)="verDocumento(element)"
                            matTooltip="Ver documento adjuntado">
                            <mat-icon>remove_red_eye</mat-icon>
                        </button>
                        <button *ngIf="element.validate" color="primary" mat-mini-fab
                            matTooltip="Documento Validado Correctamente.">
                            <mat-icon>check_circle_outline</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="DisplayNameDocument"></tr>
                <tr mat-row *matRowDef="let row; columns: DisplayNameDocument;"></tr>
            </table>
            <mat-paginator #paginator [pageSizeOptions]="[2, 10, 20]"
                showFirstLastButtons></mat-paginator>
        </div>
		   </div>
       </div>
    </div>
  </div>
</section>
