.auth-container {
    height: 65%;
    width: 65%;
    margin: 3%;
    margin-inline: auto;

}

.auth-container .auth-main {

    min-height: 0px !important;
}

.left-img {

    padding: 0px 0px !important;
    ;

}

.auth-form-section {

    border-radius: 0px 27px 27px 0px !important;
}

// background-color: #ffffff;border-right: dashed;border-right-color: #38366b82

.element {
    position: relative;
    /* other styles */
}

.element::after {
    content: '';
    position: absolute;
    right: 0;
    top: 10%;
    /* Adjust this value to control the starting point */
    bottom: 10%;
    /* Adjust this value to control the end point */
    border-right: dashed;
    border-right-color: #38366b82;
    width: 0;
    /* Ensures the pseudo-element is only a line */
}