.auth-container {
    height: 65%;
    width: 65%;
    margin: 3%;
    margin-inline: auto;
    
    }
    
    .auth-container .auth-main {

         min-height: 0px !important; 
    }
    
    .left-img {

        padding: 0px 0px !important;;
        
    }
    
    .auth-form-section {
       
        border-radius: 0px 27px 27px 0px!important;
    }