/* Estilos para la tabla */
mat-table {
    width: 100%;
  }
  
  /* Estilos para las celdas */
  mat-cell {
    padding: 10px;
  }
  
  /* Estilos para los inputs */
  mat-input {
    width: 100%;
  }