<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <div class="modal-about">
                    {{dialogTitle}}
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
    
        <mat-accordion>
            <!-- <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title> This is the expansion title </mat-panel-title>
                <mat-panel-description> This is a summary of the content </mat-panel-description>
              </mat-expansion-panel-header>
              <p>This is the primary content of the panel.</p>
            </mat-expansion-panel> -->
            <mat-accordion *ngIf="_BudgetTermDto">
                <mat-expansion-panel *ngFor="let budgetTerm of _BudgetTermDtoArray let i = index" (opened)="onPanelOpen(budgetTerm)">
                  <mat-expansion-panel-header>
                    <mat-panel-title>{{ budgetTerm.description }}</mat-panel-title>
                    <mat-panel-description>
                      <!-- Currently I am -->
                      {{'SubTotal:'+( budgetTerm.subTotal| currency:'USD':'symbol':'1.2-2' )}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="mes1">
                      <th class="col-4" mat-header-cell *matHeaderCellDef> {{_BudgetTermDtoArray[i].budgetDetailBudgetTermMonthDtos[0].budgetTermMonthName}} </th>
                      <td mat-cell *matCellDef="let budgetDetailBudgetTermMonthDtos">
                    
                        <mat-form-field>
                            <mat-label>{{budgetDetailBudgetTermMonthDtos.budgetTermMonthName}}</mat-label>
                            <input [(ngModel)]="_BudgetTermDtoArray[i].budgetDetailBudgetTermMonthDtos[0].amount" matInput type="number" min="1"
                            (change)="onAmountChange(i,0)"
                            />
                          </mat-form-field>
                        <!-- <mat-input [(ngModel)]="productos.id" disabled></mat-input> -->
                      </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="mes2">
                      <th class="col-4" mat-header-cell *matHeaderCellDef> {{_BudgetTermDtoArray[i].budgetDetailBudgetTermMonthDtos[1].budgetTermMonthName}} </th>
                      <td mat-cell *matCellDef="let budgetDetailBudgetTermMonthDtos">
                    
                        <mat-form-field>
                            <mat-label>{{budgetDetailBudgetTermMonthDtos.budgetTermMonthName}}</mat-label>
                            <input [(ngModel)]="_BudgetTermDtoArray[i].budgetDetailBudgetTermMonthDtos[1].amount" matInput type="number" min="1"
                            (change)="onAmountChange(i,1)"
                            />
                          
                          </mat-form-field>
                      </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="mes3">
                      <th class="col-4" mat-header-cell *matHeaderCellDef> {{_BudgetTermDtoArray[i].budgetDetailBudgetTermMonthDtos[2].budgetTermMonthName}} </th>
                      <td mat-cell *matCellDef="let budgetDetailBudgetTermMonthDtos">
                        <mat-form-field>
                            <mat-label>{{budgetDetailBudgetTermMonthDtos.budgetTermMonthName}}</mat-label>
                            <input [(ngModel)]="_BudgetTermDtoArray[i].budgetDetailBudgetTermMonthDtos[2].amount" matInput type="number" min="1"
                            (change)="onAmountChange(i,2)"
                            />
                          </mat-form-field>
                      </td>
                    </ng-container>
                  
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                  </mat-table>
                  <!-- <p>Content for {{ budgetTerm.description }}</p> -->
                </mat-expansion-panel>
              </mat-accordion>
              <div *ngIf="_BudgetTermDtoArray.length === 0">No se encontraron resultados.</div>
            <!-- <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                <mat-expansion-panel-header>
                  <mat-panel-title> Self aware panel </mat-panel-title>
                  <mat-panel-description>
                    Currently I am {{panelOpenState() ? 'open' : 'closed'}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <p>I'm visible because I am open</p>
              </mat-expansion-panel> -->
            <!-- <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
              <mat-expansion-panel-header>
                <mat-panel-title> Self aware panel </mat-panel-title>
                <mat-panel-description>
                  Currently I am {{panelOpenState() ? 'open' : 'closed'}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>I'm visible because I am open</p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                <mat-expansion-panel-header>
                  <mat-panel-title> Self aware panel </mat-panel-title>
                  <mat-panel-description>
                    Currently I am {{panelOpenState() ? 'open' : 'closed'}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <p>I'm visible because I am open</p>
              </mat-expansion-panel>
              <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                <mat-expansion-panel-header>
                  <mat-panel-title> Self aware panel </mat-panel-title>
                  <mat-panel-description>
                    Currently I am {{panelOpenState() ? 'open' : 'closed'}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <p>I'm visible because I am open</p>
              </mat-expansion-panel> -->
          </mat-accordion>
    </div>
</div>
