<section class="content">
    <div class="content-block">
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="'Actividad'" [items]="['Inicio','Admisión','Cronograma']"
                [active_item]="'Detalle Actividad'">
            </app-breadcrumb>
        </div>
        <div class="row clearfix" style="margin-bottom: 20px;text-align: right;">
            <div class="">
                <button matTooltip="Regresar" mat-raised-button color="accent" (click)="volverAtras()">
                    <mat-icon>keyboard_backspace</mat-icon> Regresar
                </button>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div #imageElement class="header" *ngIf="_ActivityService.loading===false">
                        <h2 class="text-uppercase">Detalle de la actividad<strong> {{
                                _ActivityService._GetOneActivity.name }}</strong> <span
                                class="badge badge-solid-green">{{ _ActivityService._GetOneActivity.statusId|statusPipe
                                }}</span> <br> Cronograma <strong>{{
                                _ActivityService._GetOneActivity.curriculumDesignName }}</strong></h2>

                        <button class="boton_menu" [matMenuTriggerFor]="menu" matTooltip="Acciones" mat-raised-button
                            color="primary">
                            Acciones
                            <mat-icon>keyboard_arrow_down</mat-icon>
                        </button>
                    </div>
                    <div class=" body" *ngIf="_ActivityService.loading==false">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                                <h6>Nombre de Actividad</h6>
                                <label for="">{{ _ActivityService._GetOneActivity.name }}</label>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                                <h6>Origen de Fondos</h6>
                                <label for="">{{ _ActivityService._GetOneActivity.activityFundsSourceName }}</label>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                                <h6>Ubicación</h6>
                                <label for="">{{ _ActivityService._GetOneActivity.activityLocationName }}</label>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                                <h6>Modalidad</h6>
                                <label for="">{{ _ActivityService._GetOneActivity.activityModeName }}</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                                <h6>Razón de actividad</h6>
                                <label for="">{{ _ActivityService._GetOneActivity.activityReasonName }}</label>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                                <h6>Tipo de Actividad</h6>
                                <label for="">{{ _ActivityService._GetOneActivity.activityTypeName }}</label>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                                <h6>Nombre del coordinador</h6>
                                <label for="">{{ _ActivityService._GetOneActivity.assignedCoordinatorName }}</label>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                                <h6>Modalidad</h6>
                                <label for="">{{ _ActivityService._GetOneActivity.activityLocationName }}</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                                <h6>Fecha de Inicio</h6>
                                <label for="">{{ _ActivityService._GetOneActivity.startDate|date:'dd/M/yyyy'
                                    }}</label>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                                <h6>Fecha Final programada</h6>
                                <label for="">{{ _ActivityService._GetOneActivity.plannedEndDate|date:'dd/M/yyyy'
                                    }}</label>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                                <h6>Estudiantes matriculados</h6>
                                <label for="">{{ _ActivityService._GetOneActivity.planningDate|date:'dd/M/yyyy'
                                    }}</label>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                                <h6>Fecha Final Efectiva</h6>
                                <label for="">{{ _ActivityService._GetOneActivity.effectiveEndDate|date:'dd/M/yyyy'
                                    }}</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                                <h6>Fecha de Inicio de Incripción</h6>
                                <label for="">{{
                                    _ActivityService._GetOneActivity.inscriptionStartDate|date:'dd/M/yyyy'
                                    }}</label>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                                <h6>Fecha Final de Incripción</h6>
                                <label for="">{{
                                    _ActivityService._GetOneActivity.inscriptionEndDate|date:'dd/M/yyyy'
                                    }}</label>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                                <h6>Fecha de entrega de Ficha Técnica</h6>
                                <label for="">{{
                                    _ActivityService._GetOneActivity.dataSheetDeliveryDate|date:'dd/M/yyyy'
                                    }}</label>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                                <h6>Fecha Entrada Físico / Digital</h6>
                                <label for="">{{
                                    _ActivityService._GetOneActivity.digitalReportDeliveryDate|date:'dd/M/yyyy' }} -
                                    {{
                                    _ActivityService._GetOneActivity.physicalReportDeliveryDate|date:'dd/M/yyyy'
                                    }}</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                                <h6>Duración</h6>
                                <label for="">{{ _ActivityService._GetOneActivity.duration }} (Horas)</label>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                                <h6>Total de Horas</h6>
                                <label for="">{{ _ActivityService._GetOneActivity.totalHours }}</label>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                                <h6>Horas Presenciales</h6>
                                <label for="">{{ _ActivityService._GetOneActivity.onSiteHours }}</label>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                                <h6>Observación</h6>
                                <label for="">{{ _ActivityService._GetOneActivity.observations }}</label>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                                <h6>Hora Inicio de Actividad</h6>
                                <label for="">{{ _ActivityService._GetOneActivity.startTime |date:'shortTime' }}</label>
                            </div>

                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                                <h6>Hora Fin de Actividad</h6>
                                <label for="">{{ _ActivityService._GetOneActivity.endTime |date:'shortTime' }}</label>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                                <h6>Recursos</h6>
                                <div class="row g-0 p-1">
                                    <div class="col-12" class="app-icons">
                                        <mat-form-field>
                                            <input matInput #inputUrl
                                                [value]="_ActivityService._GetOneActivity.meetLink" />
                                        </mat-form-field>
                                        <button mat-button color="primary"
                                            (click)="copy(_ActivityService._GetOneActivity.meetLink)">Copiar</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                                <h6>Certificación o Recertificación</h6>
                                <label for=""
                                    *ngIf="_ActivityService._GetOneActivity.activityTrainingType==1">Si</label>
                                <label for=""
                                    *ngIf="_ActivityService._GetOneActivity.activityTrainingType==2">No</label>
                            </div>

                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12" *ngIf="HasCertificate">
                                <h6>Ver Certificado</h6>
                                <button style="margin-bottom: 10px;" matTooltip="Gestionar Salones" mat-raised-button
                                    color="primary" (click)="verCertificado(_ActivityService._GetOneActivity)">
                                    <mat-icon>remove_red_eye</mat-icon>
                                </button>
                            </div>
                        </div>

                        <div class="body">
                            <mat-accordion>
                                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                    <mat-expansion-panel-header style="background: #38366b;text-transform: uppercase;">
                                        <mat-panel-title style="color: white;">
                                            Información Adicional de la Actividad
                                        </mat-panel-title>
                                        <mat-panel-description style="color: white;">
                                            Cantidad Horas {{ _ActivityService._GetOneActivity.totalHours }}
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <div class=" row" style="margin-top: 10px;">
                                        <div class="col-lg-6 col-md-6 col-xs-12 col-12">
                                            <mat-label><strong>Competencias</strong></mat-label>
                                            <div style="text-align: justify;"
                                                [innerHTML]="safeHtml(_ActivityService._GetOneActivity.competencies)">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-xs-12 col-12">
                                            <mat-label><strong>Contenido</strong></mat-label>
                                            <div style="text-align: justify;"
                                                [innerHTML]="safeHtml(_ActivityService._GetOneActivity.content)">
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-xs-12 col-12">
                                            <mat-label><strong>Actividades de aprendizaje</strong></mat-label>
                                            <div
                                                [innerHTML]="safeHtml(_ActivityService._GetOneActivity.learningActivities)">
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-xs-12 col-12">
                                            <mat-label><strong>Evaluación</strong></mat-label>
                                            <div [innerHTML]="safeHtml(_ActivityService._GetOneActivity.evaluation)">
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-xs-12 col-12">
                                            <mat-label><strong>Referencias bibliográficas</strong></mat-label>
                                            <div
                                                [innerHTML]="safeHtml(_ActivityService._GetOneActivity.bibliographicCitation)">
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row" *ngIf="_ActivityService._GetOneActivity.totalHours>80">
                                        <div class="col-lg-6 col-md-6 col-xs-12 col-12">
                                            <mat-label><strong>Justificación</strong></mat-label>
                                            <div style="text-align: justify;"
                                                [innerHTML]="safeHtml(_ActivityService._GetOneActivity.justification)">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-xs-12 col-12">
                                            <mat-label><strong>Objetivos General</strong></mat-label>
                                            <div style="text-align: justify;"
                                                [innerHTML]="safeHtml(_ActivityService._GetOneActivity.generalGoals)">
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-xs-12 col-12">
                                            <mat-label><strong>Objetivos Especificos</strong></mat-label>
                                            <div style="text-align: justify;"
                                                [innerHTML]="safeHtml(_ActivityService._GetOneActivity.specificGoals)">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row" *ngIf="_ActivityService._GetOneActivity.totalHours>80">
                                        <div class="col-lg-6 col-md-6 col-xs-12 col-12">
                                            <mat-label><strong>Perfil de ingreso del participante</strong></mat-label>
                                            <div
                                                [innerHTML]="safeHtml(_ActivityService._GetOneActivity.participantAdmissionProfile)">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-xs-12 col-12">
                                            <mat-label><strong>Perfil de salida del participante</strong></mat-label>
                                            <div
                                                [innerHTML]="safeHtml(_ActivityService._GetOneActivity.participantGraduateProfile)">
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-xs-12 col-12">
                                            <mat-label><strong>Modalidad didáctica</strong></mat-label>
                                            <div
                                                [innerHTML]="safeHtml(_ActivityService._GetOneActivity.teachingMethodology)">
                                            </div>
                                        </div>
                                    </div>

                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                        <div class="row">
                            <p class="badge badge-solid-green" style="font-size: 15px;font-weight: 600;"
                                *ngIf="_ActivityService._GetOneActivity.totalHours>80">
                                Debe de realizar el diseño curricular
                            </p>
                            <p class="badge badge-solid-purple" style="font-size: 15px;font-weight: 600;"
                                *ngIf="_ActivityService._GetOneActivity.totalHours<=80">
                                No debe de realizar el Diseño Curricular, pero si debe de ingresar información necesaria
                                para la Ficha Técnica.
                            </p>
                        </div>
                    </div>
                    <mat-progress-bar mode="indeterminate" *ngIf="_ActivityService.loading==true"></mat-progress-bar>
                </div>
            </div>


            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card">
                    <div class="header" *ngIf="_ActivityService.loading==false">
                        <ng-container
                            *ngIf="_ActivityService._GetOneActivity.activityTrainingType==2; else elseTemplate">
                            <h2 class="text-uppercase"><strong>Documentos requeridos por ISJUP (<span
                                        class="badge badge-solid-red">REQUERIDO</span>)</strong>

                                <button (click)="AddDocumentos()" matTooltip="Agregar Documentos"
                                    style="position: absolute;right: 5px;top: 5px;" mat-mini-fab color="primary">
                                    <mat-icon>add</mat-icon>
                                </button>
                            </h2>
                        </ng-container>
                        <ng-template #elseTemplate>
                            <h2 class="text-uppercase"><strong>Documentos requeridos por ISJUP ( <span
                                        class="badge badge-solid-green">OPCIONAL</span> )</strong>

                                <button (click)="AddDocumentos()" matTooltip="Agregar Documentos"
                                    style="position: absolute;right: 5px;top: 5px;" mat-mini-fab color="primary">
                                    <mat-icon>add</mat-icon>
                                </button>
                            </h2>
                        </ng-template>
                    </div>
                    <div class="body" *ngIf="_ActivityService.loading==false">
                        <div class="body table-responsive">
                            <table mat-table [dataSource]="dataDocuments" class="w-100">
                                <ng-container matColumnDef="nombre">
                                    <th mat-header-cell *matHeaderCellDef> Nombre Documento </th>
                                    <td mat-cell *matCellDef="let element">{{ element.name }} </td>
                                </ng-container>
                                <ng-container matColumnDef="accion">
                                    <th mat-header-cell *matHeaderCellDef> Acción </th>
                                    <td mat-cell *matCellDef="let element">
                                        <button (click)="delete(element)" mat-mini-fab color="accent"
                                            matTooltip="Eliminar">
                                            <mat-icon>restore_from_trash</mat-icon>
                                        </button>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="DisplayNameDocument"></tr>
                                <tr mat-row *matRowDef="let row; columns: DisplayNameDocument;"></tr>
                            </table>
                            <mat-paginator #paginator [pageSizeOptions]="[2, 10, 20]"
                                showFirstLastButtons></mat-paginator>
                        </div>
                    </div>
                    <mat-progress-bar mode="indeterminate" *ngIf="_ActivityService.loading==true"></mat-progress-bar>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"
                *ngIf="_ActivityService._GetOneActivity.activityTrainingType==2">
                <div class="card">
                    <div class="header" *ngIf="_ActivityService.loading==false">
                        <h2 class="text-uppercase"><strong>Afiches ( <span
                                    class="badge badge-solid-red">REQUERIDO</span> )
                            </strong>
                            <button (click)="AddPoster()" matTooltip="Agregar Afiche"
                                style="position: absolute;right: 5px;top: 5px;" mat-mini-fab color="primary">
                                <mat-icon>add</mat-icon>
                            </button>
                        </h2>
                    </div>
                    <div class="body" *ngIf="_ActivityService.loading==false">
                        <div class="body table-responsive">
                            <table mat-table [dataSource]="dataPoster" class="w-100">
                                <ng-container matColumnDef="Formato">
                                    <th mat-header-cell *matHeaderCellDef> Formato </th>
                                    <td mat-cell *matCellDef="let element"> <span class="text-uppercase">{{
                                            element.poster.fileContents|verificarBS64 }}</span></td>
                                </ng-container>
                                <ng-container matColumnDef="tipo">
                                    <th mat-header-cell *matHeaderCellDef> Tipo </th>
                                    <td mat-cell *matCellDef="let element"> <span class="text-uppercase">

                                            <ng-container *ngIf=" element.posterType == 1; else elseTemplate">
                                                Principal
                                            </ng-container>
                                            <ng-template #elseTemplate>
                                                Secundario
                                            </ng-template>


                                        </span></td>
                                </ng-container>
                                <!-- Documentos Column -->
                                <ng-container matColumnDef="Documentos">
                                    <th mat-header-cell *matHeaderCellDef> Documento </th>
                                    <td mat-cell *matCellDef="let element">
                                        <button (click)="viewDocumento(element)" matTooltip="Ver Documento" mat-mini-fab
                                            color="primary">
                                            <mat-icon>remove_red_eye</mat-icon>
                                        </button>
                                    </td>
                                </ng-container>
                                <!-- Documentos Column -->
                                <ng-container matColumnDef="Estado">
                                    <th mat-header-cell *matHeaderCellDef> Estado </th>
                                    <td mat-cell *matCellDef="let element"> <span class="badge badge-solid-green">{{
                                            element.statusId|statusPipe }}</span> </td>
                                </ng-container>
                                <!-- Documentos Acción -->
                                <ng-container matColumnDef="accion">
                                    <th mat-header-cell *matHeaderCellDef> Acción </th>
                                    <td mat-cell *matCellDef="let element">
                                        <button (click)="deleteAfiche(element)" mat-mini-fab color="accent"
                                            matTooltip="Eliminar">
                                            <mat-icon>restore_from_trash</mat-icon>
                                        </button>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="DisplayNamePoster"></tr>
                                <tr mat-row *matRowDef="let row; columns: DisplayNamePoster;"></tr>
                            </table>
                            <mat-paginator #paginatorPoster [pageSizeOptions]="[2, 10, 20]"
                                showFirstLastButtons></mat-paginator>
                        </div>
                    </div>
                    <mat-progress-bar mode="indeterminate" *ngIf="_ActivityService.loading==true"></mat-progress-bar>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card">
                    <div class="header" *ngIf="_ActivityService.loading==false">
                        <h2 class="text-uppercase"><strong>Docentes, Facilitadores, Moderadores ( <span
                                    class="badge badge-solid-red">REQUERIDO</span> )</strong>
                            <button (click)="AddTeachers()" matTooltip="Agregar Docentes"
                                style="position: absolute;right: 5px;top: 5px;" mat-mini-fab color="primary">
                                <mat-icon>add</mat-icon>
                            </button>
                        </h2>
                    </div>
                    <div class="body" *ngIf="_ActivityService.loading==false">
                        <div class="body table-responsive">
                            <table mat-table [dataSource]="dataTeacher" class="w-100">
                                <!-- Name Column -->
                                <ng-container matColumnDef="Nombre">
                                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                                    <td mat-cell *matCellDef="let element"> {{ element.teacherFullName }} </td>
                                </ng-container>
                                <!-- Gender Column -->
                                <ng-container matColumnDef="cedula">
                                    <th mat-header-cell *matHeaderCellDef> Cédula </th>
                                    <td mat-cell *matCellDef="let element"> {{ element.teacherCedula }} </td>
                                </ng-container>
                                <ng-container matColumnDef="accion">
                                    <th mat-header-cell *matHeaderCellDef> Acción </th>
                                    <td mat-cell *matCellDef="let element">
                                        <button mat-mini-fab color="accent" (click)="deleteDocente(element)"
                                            matTooltip="Eliminar">
                                            <mat-icon>restore_from_trash</mat-icon>
                                        </button>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="DisplayNameTeachers"></tr>
                                <tr mat-row *matRowDef="let row; columns: DisplayNameTeachers;"></tr>
                            </table>
                            <mat-paginator #paginatorTeachers [pageSizeOptions]="[2, 10, 20]"
                                showFirstLastButtons></mat-paginator>
                        </div>
                    </div>
                    <mat-progress-bar mode="indeterminate" *ngIf="_ActivityService.loading==true"></mat-progress-bar>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card">
                    <div class="header" *ngIf="_ActivityService.loading==false">
                        <h2 class="text-uppercase"><strong>organismos cooperantes ( <span
                                    class="badge badge-solid-green">OPCIONAL</span> ) </strong>
                            <button (click)="AddCooperantes()" matTooltip="Agregar organismos cooperantes"
                                style="position: absolute;right: 5px;top: 5px;" mat-mini-fab color="primary">
                                <mat-icon>add</mat-icon>
                            </button>
                        </h2>
                    </div>
                    <div class="body" *ngIf="_ActivityService.loading==false">
                        <div class="body table-responsive">
                            <table mat-table [dataSource]="dataOrganismos" class="w-100">
                                <!-- No Column -->
                                <!-- <ng-container matColumnDef="Id">
                                    <th mat-header-cell *matHeaderCellDef> Id. </th>
                                    <td mat-cell *matCellDef="let element">{{ element.cooperatingOrganization.id }}</td>
                                </ng-container> -->
                                <!-- Name Column -->
                                <ng-container matColumnDef="nombre">
                                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                                    <td mat-cell *matCellDef="let element">{{ element.cooperatingOrganization.name }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="logo">
                                    <th mat-header-cell *matHeaderCellDef> Logo </th>
                                    <td mat-cell *matCellDef="let element">
                                        <button (click)="viewLogo(element.cooperatingOrganization)"
                                            matTooltip="Ver Documento" mat-mini-fab color="primary">
                                            <mat-icon>remove_red_eye</mat-icon>
                                        </button>
                                    </td>
                                </ng-container>
                                <!-- Gender Column -->
                                <ng-container matColumnDef="accion">
                                    <th mat-header-cell *matHeaderCellDef> Acción </th>
                                    <td mat-cell *matCellDef="let element">
                                        <button (click)="deleteCooperating(element.cooperatingOrganization)"
                                            mat-mini-fab color="accent" matTooltip="Eliminar">
                                            <mat-icon>restore_from_trash</mat-icon>
                                        </button>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="DisplayNameOrganization"></tr>
                                <tr mat-row *matRowDef="let row; columns: DisplayNameOrganization;"></tr>
                            </table>
                            <mat-paginator #paginatorCooperating [pageSizeOptions]="[2, 10, 20]"
                                showFirstLastButtons></mat-paginator>
                        </div>
                    </div>
                    <mat-progress-bar mode="indeterminate" *ngIf="_ActivityService.loading==true"></mat-progress-bar>
                </div>
            </div>
        </div>
    </div>
    <mat-menu #menu="matMenu">
        <button mat-menu-item matTooltip="Gestionar Salones" color="primary" (click)="gestionarSalon()">
            <mat-icon>add</mat-icon> Gestión de Salones
        </button>
        <button mat-menu-item *ngIf="_ActivityService._GetOneActivity.statusId != 3" matTooltip="Editar Actividad"
            color="accent" (click)="editarActividad(_ActivityService._GetOneActivity)">
            <mat-icon>edit</mat-icon> Editar Actividad.
        </button>
        <button mat-menu-item
            *ngIf="_ActivityService._GetOneActivity.statusId != 3 && _ActivityService._GetOneActivity.activityTrainingType==2"
            matTooltip="Crear Convocatoria" color="primary"
            (click)="generarConvocatoria(_ActivityService._GetOneActivity)">
            <mat-icon>refresh</mat-icon> Generar Convocatoria.
        </button>

        <button mat-menu-item *ngIf="_ActivityService._GetOneActivity.statusId != 3"
            matTooltip="Cargar Diseño del Certificado" color="primary"
            (click)="uploadCertificado(_ActivityService._GetOneActivity)">
            <mat-icon>upload</mat-icon>Diseño del Certificado.
        </button>

        <button mat-menu-item *ngIf="_ActivityService._GetOneActivity.totalHours<=80" matTooltip="Planificar Evento"
            color="primary" (click)="IrPlanificacion(_ActivityService._GetOneActivity)">
            <mat-icon>add_alarm</mat-icon>Planificar Horas
        </button>

        <button mat-menu-item
            *ngIf="_ActivityService._GetOneActivity.totalHours>80 && _ActivityService._GetOneActivity.activityClass!=4"
            matTooltip="Crear Diseño Curricular" color="primary"
            (click)="GoDesignCurriculum(_ActivityService._GetOneActivity)">
            <mat-icon>add_to_queue</mat-icon>Crear Diseño Curricular.
        </button>
    </mat-menu>
</section>