<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          {{dialogTitle}}
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <div class="card">
      <div class="header">
        <h2 class="text-uppercase"><strong>Listado de Comentarios de la solicitud</strong>
        </h2>
      </div>
      <div class="body">
        <div class="body table-responsive " *ngIf="loading===false">
          <table mat-table [dataSource]="dataHInfo" class="w-100">
            <ng-container matColumnDef="createdDate">
              <th mat-header-cell *matHeaderCellDef> Fecha de creación </th>
              <td mat-cell *matCellDef="let element">{{ element.createdDate | date:'dd/M/yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> Comentario </th>
              <td mat-cell *matCellDef="let element">{{ element.description }} </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="DisplayInfo"></tr>
            <tr mat-row *matRowDef="let row; columns: DisplayInfo;"></tr>
          </table>
          <mat-paginator #ListaHInfo [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
      <mat-progress-bar mode="indeterminate" *ngIf="loading===true"></mat-progress-bar>
    </div>

  </div>
</div>
