<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <div class="modal-about">
                    <strong>{{dialogTitle}}</strong>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <div class="row">
            <div class="col-lg-4">
                <p class="text-uppercase"> <strong>Turno Matutino</strong></p>
                <table class="table">
                    <thead>
                        <th>Cédula</th>
                        <th>Nombre</th>
                        <th>Acción</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of DocentesM">
                            <td>{{ item.teacherCedula }}</td>
                            <td>{{ item.teacherFullName }}</td>
                            <td>
                                <button (click)="eliminarDocente(1,item.teacherCedula)" matTooltip="Eliminar Docente"
                                    mat-mini-fab color="accent"><mat-icon>delete</mat-icon></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                <p class="text-uppercase"> <strong>Turno Vespertino</strong></p>
                <table class="table">
                    <thead>
                        <th>Cédula</th>
                        <th>Nombre</th>
                        <th>Acción</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of DocentesV">
                            <td>{{ item.teacherCedula }}</td>
                            <td>{{ item.teacherFullName }}</td>
                            <td>
                                <button (click)="eliminarDocente(2,item.teacherCedula)" matTooltip="Eliminar Docente"
                                    mat-mini-fab color="accent"><mat-icon>delete</mat-icon></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                <p class="text-uppercase"> <strong>Turno Nocturno</strong></p>
                <table class="table">
                    <thead>
                        <th>Cédula</th>
                        <th>Nombre</th>
                        <th>Acción</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of DocentesN">
                            <td>{{ item.teacherCedula }}</td>
                            <td>{{ item.teacherFullName }}</td>
                            <td>
                                <button (click)="eliminarDocente(3,item.teacherCedula)" matTooltip="Eliminar Docente"
                                    mat-mini-fab color="accent"><mat-icon>delete</mat-icon></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>