<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          {{dialogTitle}}
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="_Forms" (ngSubmit)="submit">
      <div class="row">

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Cantidad</mat-label>
            <input matInput formControlName="quantity">
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
            <mat-error *ngIf="_Forms.get('quantity')?.hasError('required')">
              Campo requerido
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Unidad</mat-label>
            <input matInput formControlName="unit">
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
            <mat-error *ngIf="_Forms.get('unit')?.hasError('required')">
              Campo requerido
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Código</mat-label>
            <input matInput formControlName="code">
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
            <mat-error *ngIf="_Forms.get('code')?.hasError('required')">
              Campo requerido
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Precio</mat-label>
            <input matInput formControlName="price">
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
            <mat-error *ngIf="_Forms.get('price')?.hasError('required')">
              Campo requerido
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Unidades Existentes</mat-label>
            <input matInput formControlName="unidadExistente">
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
            <mat-error *ngIf="_Forms.get('unidadExistente')?.hasError('required')">
              Campo requerido
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Cantidad a suministrar</mat-label>
            <input matInput formControlName="quantityToSupply">
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
            <mat-error *ngIf="_Forms.get('quantityToSupply')?.hasError('required')">
              Campo requerido
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Detalles</mat-label>
            <input matInput formControlName="goodsOrServiceDetail">
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
            <mat-error *ngIf="_Forms.get('goodsOrServiceDetail')?.hasError('required')">
              Campo requerido
            </mat-error>
          </mat-form-field>
        </div>




      </div>

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-raised-button color="primary" [disabled]="!_Forms.valid"
                    (click)="confirmAdd()">Guardar</button>
            <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancelar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
