
  
  <div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <div class="modal-about">
                  Dar permiso a  <span  class="badge badge-solid-blue">{{dialogTitle}}</span>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()"  class="modal-close-button" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
      
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-12">
        
      
            <table   class="example-full-width" ><tr>
                <td class="linea">
                    <label class="example-listbox-label" id="example-zodiac-sign-label">
                      <h5>Usuarios </h5>
                       </label>
                    <div class="example-listbox-container" style="overflow-y: auto; height: 350px;">
                   
                    <mat-selection-list  [multiple]="false" (selectionChange)="onSelectionChange($event)">
                        <li *ngFor="let user of dataSourceUser"
                          
                          class="example-option">
                          <mat-list-option [value]="user.id">{{user.firstName+" "+user.lastName}}</mat-list-option> 
                      </li>
                      </mat-selection-list>
                    
                    
                  </div>
                  </td>
                  
                  <td> 
                    <label class="example-listbox-label" id="example-zodiac-sign-label">
                        <h5>Permisos</h5>
                      </label>
                    <div class="example-listbox-container" style="overflow-y: auto; height: 350px;width:max-content;">
                   
              
                    <mat-selection-list  *ngIf="!RadioValue"  (selectionChange)="onSelectionChange2($event)">
                        <li *ngFor="let permiss of dataSourcePermission" class="example-option">
                          <mat-list-option [selected]="permiss.valor" [value]="permiss.id">{{permiss.name}}</mat-list-option> 
                      </li>

                     
                      </mat-selection-list>
                      <div *ngIf="dataSourcePermission?.length===0" style="width: 200px;">
                        Seleccione un usuario para visualizar los permisos.
                       </div>
                       <mat-radio-group [(ngModel)]="RadioValue" *ngIf="dataSourcePermission.length>0">
                        <p>Borrar los permisos de este usuario?</p>
                        <mat-radio-button [value]="true">Si</mat-radio-button>
                        <mat-radio-button [value]="false">No</mat-radio-button>
                      </mat-radio-group>
                      
                      <mat-error *ngIf="RadioValue">
                        El usuario seleccionado perdera <br>
                        todos los permisos que se le hayan <br>
                        otorgado anteriormente y tampoco podra <br>
                        tener acceso al mismo.
                      </mat-error>
                  </div>
                  
                  </td>
               
              </tr></table>
          </div>
        </div>
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-12">
              <div class="example-button-row">
            <button mat-raised-button  color="primary" [disabled]="this.fileFolderId===undefined" (click)="onSubmit()" type="submit">Guardar</button>
            <button mat-raised-button color="warn"  (click)="onNoClick()" tabindex="-1">Cancelar</button>
          </div>
        </div>
      </div>
          
    </div>
</div>


