<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <div class="modal-about">
                    {{dialogTitle}}
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-6 col-xl-8 col-12">
                <img id="image" style="width: 100%;" />
            </div>
            <div *ngIf="!loading" class="col-lg-4 col-md-4 col-sm-6 col-xl-4 col-12" style="color: black;">
                <mat-label><strong class="text-uppercase">Comentarios</strong></mat-label>
                <ul>
                    <li *ngFor="let item of data.comment;let i=index">{{ i+1 }}- {{ item.text }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>