<section class="content">
  <div class="content-block">
    <div class="block-header">
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2 class="text-uppercase"><strong>Listado de Actividades</strong></h2>
          </div>
          <div class="body">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                  <div class="body overflow-auto">
                    <div class="responsive_table">
                      <table class="table">
                        <thead>
                            <th>Descripción</th>
                            <th>Año</th>
                            <th>Acción</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of lstActividades">
                                <td>{{ item.description }}</td>
                                <td>{{ item.year }}</td>
                                <td>
                                <button mat-mini-fab color="primary" title="Ver Actividad"
                                (click)="$event.stopPropagation()" class="tbl-action-btn">
                                <app-feather-icons [icon]="'eye'"></app-feather-icons>
                                </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

