<section class="content">
    <div class="content-block">
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="'Detalle del Participante'" [items]="['Inicio','Admisión','Cronograma']"
                [active_item]="'Detalle del Participante'">
            </app-breadcrumb>
        </div>
        <div class="row clearfix" style="margin-bottom: 20px;text-align: right;">
            <div class="">
                <button matTooltip="Regresar" mat-raised-button color="accent" (click)="volverAtras()">
                    <mat-icon>keyboard_backspace</mat-icon> Regresar
                </button>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div #imageElement class="header" *ngIf="_ActivityService.loading==false">
                        <h2 class="text-uppercase">Detalle del Participante</h2>
                    </div>
                    <div class="body" *ngIf="_ActivityService.loading==false">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                                <h6>Nombre / Apellido</h6>
                                <label for="">{{ _ActivityService._DetailsResponse.firstName }} {{
                                    _ActivityService._DetailsResponse.lastName }} {{
                                    _ActivityService._DetailsResponse.secondsurname }}
                                </label>
                            </div>

                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                                <h6>Cédula</h6>
                                <label for="">{{_ActivityService._DetailsResponse.cedula }}
                                </label>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                                <h6>Género</h6>
                                <label for="">{{ _ActivityService._DetailsResponse.gender }}</label>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                                <h6>Correo Electrónico</h6>
                                <label for="">{{ _ActivityService._DetailsResponse.email }}
                                </label>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                                <h6>Institución</h6>
                                <label for="">{{ _ActivityService._DetailsResponse.institution }}
                                </label>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                                <h6>Universidad</h6>
                                <label for="">{{ _ActivityService._DetailsResponse.university }}
                                </label>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                                <h6>Dependencia</h6>
                                <label for="">{{ _ActivityService._DetailsResponse.dependency }}
                                </label>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                                <h6>Ubicación</h6>
                                <label for="">{{ _ActivityService._DetailsResponse.position }}</label>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                                <h6>Provincia</h6>
                                <label for="">{{ _ActivityService._DetailsResponse.province }}</label>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                                <h6>Distrito</h6>
                                <label for="">{{ _ActivityService._DetailsResponse.judicialDistrict }}</label>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                                <h6>Fecha de Inscripción</h6>
                                <label for="">{{ _ActivityService._DetailsResponse.startDate |
                                    date:'dd/M/yyyy' }}</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                                <h6>Nombre de actividad</h6>
                                <label for="">{{ _ActivityService._DetailsResponse.activityName }}</label>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                                <h6>Ubicación</h6>
                                <label for="">{{ _ActivityService._DetailsResponse.activityLocation }}</label>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                                <h6>Modalidad</h6>
                                <label for="">{{ _ActivityService._DetailsResponse.activityMode }}</label>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                                <h6>Tipo de actividad</h6>
                                <label for="">{{ _ActivityService._DetailsResponse.activityType }}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="example-button-row">
                                <div class="col-12">
                                    <button *ngIf="_ActivityService._DetailsResponse.name !='Aceptado'"
                                        matTooltip="Gestionar Salones" mat-raised-button color="primary"
                                        (click)="aprobar()">
                                        <mat-icon>check</mat-icon> Aprobar / Rechazar
                                    </button>
                                    <span *ngIf="_ActivityService._DetailsResponse.name =='Aceptado'"
                                        class="badge badge-solid-green">Usuario Aceptado</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <mat-progress-bar mode="indeterminate" *ngIf="_ActivityService.loading==true"></mat-progress-bar>
                </div>
            </div>


            <!-- <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card">
                    <div class="header" *ngIf="_ActivityService.loading==false">
                        <h2 class="text-uppercase"><strong>Documentos Requeridos</strong>

                            <button (click)="AddDocumentos()" matTooltip="Agregar Documentos"
                                style="position: absolute;right: 5px;top: 5px;" mat-mini-fab color="primary">
                                <mat-icon>add</mat-icon>
                            </button>
                        </h2>
                    </div>
                    <div class="body" *ngIf="_ActivityService.loading==false">
                        <div class="body table-responsive">
                            <table mat-table [dataSource]="dataDocuments" class="w-100">
                                
                                <ng-container matColumnDef="Id">
                                    <th mat-header-cell *matHeaderCellDef> Id</th>
                                    <td mat-cell *matCellDef="let element"> {{ element.id+1 }}</td>
                                </ng-container>
                                <ng-container matColumnDef="nombre">
                                    <th mat-header-cell *matHeaderCellDef> Nombre Documento </th>
                                    <td mat-cell *matCellDef="let element">{{ element.name }} </td>
                                </ng-container>
                                <ng-container matColumnDef="accion">
                                    <th mat-header-cell *matHeaderCellDef> Acción </th>
                                    <td mat-cell *matCellDef="let element">
                                        <button (click)="delete(element)" mat-mini-fab color="accent"
                                            matTooltip="Eliminar">
                                            <mat-icon>restore_from_trash</mat-icon>
                                        </button>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="DisplayNameDocument"></tr>
                                <tr mat-row *matRowDef="let row; columns: DisplayNameDocument;"></tr>
                            </table>
                            <mat-paginator #paginator [pageSizeOptions]="[2, 10, 20]"
                                showFirstLastButtons></mat-paginator>
                        </div>
                    </div>
                    <mat-progress-bar mode="indeterminate" *ngIf="_ActivityService.loading==true"></mat-progress-bar>
                </div>
            </div> -->
        </div>

        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="header" *ngIf="_ActivityService.loading==false">
                        <h2 class="text-uppercase">
                        </h2>
                    </div>
                    <div class="body" *ngIf="_ActivityService.loading==false">
                        <div class="body table-responsive">
                            <table mat-table [dataSource]="dataDocuments" class="w-100">
                                <!-- Id Column -->
                                <!-- <ng-container matColumnDef="Id">
                                                <th mat-header-cell *matHeaderCellDef> Id</th>
                                                <td mat-cell *matCellDef="let element"> {{ element.id+1 }}</td>
                                            </ng-container> -->
                                <!-- Nombre Documento Column -->
                                <ng-container matColumnDef="nombre">
                                    <th mat-header-cell *matHeaderCellDef> Nombre Documento </th>
                                    <td mat-cell *matCellDef="let element">{{ element.name }} </td>
                                </ng-container>
                                <ng-container matColumnDef="actualizar">
                                    <th mat-header-cell *matHeaderCellDef> Actializar documento </th>
                                    <td mat-cell *matCellDef="let element">
                                        <input id="archivo_{{ element.id }}" type="file" class="file-input"
                                            (change)="onChangeFile($event, element.id,element)" />
                                        <p style="color: green;font-weight: bold;margin-top: 10px;"
                                            id="texto_{{ element.id }}"></p>
                                        <mat-progress-bar mode="indeterminate" *ngIf="loadingFile"></mat-progress-bar>
                                    </td>
                                </ng-container>
                                <!-- Acción Column -->
                                <ng-container matColumnDef="documentacion">
                                    <th mat-header-cell *matHeaderCellDef> Documentación </th>
                                    <td mat-cell *matCellDef="let element">
                                        <button mat-mini-fab (click)="verDocumento(element)"
                                            matTooltip="Ver documento adjuntado">
                                            <mat-icon>remove_red_eye</mat-icon>
                                        </button>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="DisplayNameDocument"></tr>
                                <tr mat-row *matRowDef="let row; columns: DisplayNameDocument;"></tr>
                            </table>
                            <mat-paginator #paginator [pageSizeOptions]="[2, 10, 20]"
                                showFirstLastButtons></mat-paginator>
                        </div>
                    </div>
                    <mat-progress-bar mode="indeterminate" *ngIf="_ActivityService.loading==true"></mat-progress-bar>
                </div>
            </div>
        </div>

    </div>
</section>