<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <!-- <img [src]='advanceTable.img' alt="avatar"> -->
        <div class="modal-about">
          {{dialogTitle}}
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="scheduleForm" (ngSubmit)="submit">
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
         
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Fecha de planificación</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="planningDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="scheduleForm.get('planningDate')?.hasError('required')">
               Selecciones una fecha
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Modalidad</mat-label>
            <input matInput formControlName="activityModeId" >
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
          
          </mat-form-field>
        
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Tipo de actividad</mat-label>
            <input matInput formControlName="activityTypeId" >
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
          
          </mat-form-field>
          
        
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
          <mat-form-field class="example-full-width " appearance="outline">
            <mat-label>Nombre de la actividad</mat-label>
            <mat-select formControlName="activityNameId" >
              <mat-option *ngFor="let row of activityList"  [value]="row.id">{{row.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="scheduleForm.get('activityNameId')?.hasError('required')">
              la actividad es requerida
            </mat-error>
          </mat-form-field>
        
        </div>
       
      </div>
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Lugar</mat-label>
            <input matInput formControlName="activityLocationId" >
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
          
          </mat-form-field>
        
        </div>
        
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Coord.Asignado</mat-label>
            <input matInput formControlName="assignedCoordinatorId" >
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
          
          </mat-form-field>
        
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
       
          
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Fecha de inicio</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="startDate">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <mat-error *ngIf="scheduleForm.get('startDate')?.hasError('required')">
               Selecciones una fecha
            </mat-error>
          </mat-form-field>
        
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
         
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Fecha final programada</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="plannedEndDate">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
            <mat-error *ngIf="scheduleForm.get('plannedEndDate')?.hasError('required')">
               Selecciones una fecha
            </mat-error>
          </mat-form-field>
        
        
        </div>
          

         
         
        </div>
        <div  class="row">
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
           
            
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Fecha final efectiva</mat-label>
              <input matInput [matDatepicker]="picker3" formControlName="effectiveEndDate">
              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
              <mat-datepicker #picker3></mat-datepicker>
              <mat-error *ngIf="scheduleForm.get('effectiveEndDate')?.hasError('required')">
                 Selecciones una fecha
              </mat-error>
            </mat-form-field>
          
          
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Ejecutado</mat-label>
              <input matInput formControlName="isExecuted" >
              <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
            
            </mat-form-field>
          
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Motivo</mat-label>
              <input matInput formControlName="activityReasonId" >
              <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
            
            </mat-form-field>
          
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Origen de los fondos</mat-label>
              <input matInput formControlName="activityFundsSourceId" >
              <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
            
            </mat-form-field>
          
          </div>
        </div>
     <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Docente/s seleccionado/s</mat-label>
          <input matInput formControlName="numOfAssignedTeachers" >
          <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
        
        </mat-form-field>
      
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Ficha técnica de la actividad</mat-label>
          <input matInput formControlName="hasDataSheet" >
          <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
        
        </mat-form-field>
      
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
     
        
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Fecha entrega ficha técnica</mat-label>
          <input matInput [matDatepicker]="picker4" formControlName="dataSheetDeliveryDate">
          <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
          <mat-datepicker #picker4></mat-datepicker>
          <mat-error *ngIf="scheduleForm.get('dataSheetDeliveryDate')?.hasError('required')">
             Selecciones una fecha
          </mat-error>
        </mat-form-field>
      
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Evaluación</mat-label>
          <input matInput formControlName="isEvaluation" >
          <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
        
        </mat-form-field>
      
      </div>
     </div>
     <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
       
        
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Fecha entrega de informe digital</mat-label>
          <input matInput [matDatepicker]="picker5" formControlName="digitalReportDeliveryDate">
          <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
          <mat-datepicker #picker5></mat-datepicker>
          <mat-error *ngIf="scheduleForm.get('digitalReportDeliveryDate')?.hasError('required')">
             Selecciones una fecha
          </mat-error>
        </mat-form-field>
      
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
       
        
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Fecha entrega de informe físico</mat-label>
          <input matInput [matDatepicker]="picker6" formControlName="physicalReportDeliveryDate">
          <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
          <mat-datepicker #picker6></mat-datepicker>
          <mat-error *ngIf="scheduleForm.get('physicalReportDeliveryDate')?.hasError('required')">
             Selecciones una fecha
          </mat-error>
        </mat-form-field>
      
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Estudiantes matriculados diplomado</mat-label>
          <input matInput formControlName="enrolledStudentsDiplomat" >
          <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
        
        </mat-form-field>
      
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Estudiantes retirados diplomado</mat-label>
          <input matInput formControlName="retiredStudentsDiplomat" >
          <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
        
        </mat-form-field>
      
      </div>
     </div>
     <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Participantes</mat-label>
          <input matInput formControlName="participants" >
          <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
        
        </mat-form-field>
      
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Masculino</mat-label>
          <input matInput formControlName="male" >
          <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
        
        </mat-form-field>
      
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Femenino</mat-label>
          <input matInput formControlName="female" >
          <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
        
        </mat-form-field>
      
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Certificados recibidos</mat-label>
          <input matInput formControlName="certificatesReceived" >
          <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
        
        </mat-form-field>
      
      </div>
     </div>
     <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Observaciones</mat-label>
          <input matInput formControlName="observations" >
          <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
        
        </mat-form-field>
      
      </div>
     </div>
      <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <div class="example-button-row">
              <button mat-raised-button color="primary" [disabled]="!scheduleForm.valid" [mat-dialog-close]="1"
                (click)="confirmAdd()">Guardar</button>
              <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancelar</button>
            </div>
          </div>
        </div>
    </form>
  </div>
</div>


