<section class="content">
    <div class="content-block">
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="'Listado de Salones de la actividad'" [items]="['Inicio','Admisión','Cronograma']"
                [active_item]="'Reserva de Salones'">
            </app-breadcrumb>
        </div>
        <div class="row clearfix" style="margin-bottom: 20px;text-align: right;">
            <div class="">
                <button matTooltip="Nueva solicitud." mat-raised-button color="accent" (click)="volverAtras()">
                    <mat-icon>keyboard_backspace</mat-icon> Regresar
                </button>
            </div>
        </div>
        <div class="row clearfix">
            <div class="card">
                <mat-progress-bar mode="indeterminate" *ngIf="_ActivityService.loading==true"></mat-progress-bar>
                <div #imageElement class="header" *ngIf="_ActivityService.loading==false">
                    <h2 class="text-uppercase">Detalle de la actividad<strong> {{ _ActivityService._GetOneActivity.name
                            }}</strong>
                        <span class="badge badge-solid-green">{{ _ActivityService._GetOneActivity.statusId|statusPipe
                            }}</span> <br>
                        Cronograma <strong>{{ _ActivityService._GetOneActivity.curriculumDesignName }}</strong>
                    </h2>
                    <button *ngIf="!hrefApproved" matTooltip="Nueva Solicitud" mat-raised-button color="primary"
                        (click)="nuevaSolicitud()">
                        <mat-icon>add</mat-icon> Nueva solicitud
                    </button>
                </div>
            </div>
        </div>

        <div class="row">
            <div (click)="irDetalle(item.id)" class="col-xs-12 col-sm-12 col-md-6 col-lg-6"
                *ngFor="let item of _ActivityService._GetOneActivity.roomRequests">
                <div class="card modalSpacio">
                    <div class="header" *ngIf="_ActivityService.loading==false">
                        <h2 class="text-uppercase"><strong>(Solicitud de Salón)</strong> <span
                                class="badge badge-solid-green"> {{ item.statusId |statusPipe }}</span></h2>
                        <button *ngIf="!hrefApproved" (click)="editarSolicitud(item)" matTooltip="Editar Solicitud"
                            style="position: absolute;right: 5px;top: 5px;" mat-mini-fab color="primary">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </div>
                    <div class="body" *ngIf="_ActivityService.loading==false">
                        <div class="body table-responsive">
                            <div class="row">
                                <div class="col-lg-6">
                                    <p><strong>Fecha de reserva:</strong></p>
                                    <p>{{ item.startDate |date:'dd/M/yyyy'}} - {{ item.endDate |date:'dd/M/yyyy'}}</p>
                                </div>
                                <div class="col-lg-6">
                                    <P><strong>Actividad</strong>:</P>
                                    <p>{{ item.activityName }}</p>
                                </div>
                            </div>
                            <div class="example-button-row" *ngIf="!hrefApproved">
                                <button (click)="deleteRooms(item)" matTooltip="Eliminar solicitud" mat-raised-button
                                    color="accent">
                                    <mat-icon>delete</mat-icon> Eliminar.
                                </button>
                                <button (click)="AddSalones(item)" matTooltip="Detalle de Salones" mat-raised-button
                                    color="accent">
                                    <mat-icon>room_service</mat-icon> Salón
                                </button>
                                <button (click)="AddFranjaHoraria(item)"  matTooltip="Franja Horaria" mat-raised-button
                                color="primary">
                                <mat-icon>add</mat-icon> Franja Horaria
                                </button>
                                <button (click)="requiremitRooms(item)" matTooltip="Detalle de Requerimientos"
                                    mat-raised-button color="primary">
                                    <mat-icon>add</mat-icon> Requerimientos.
                                </button>
                                <button *ngIf="item.statusId===4" matTooltip="Rehabilitar"
                                    mat-raised-button color="primary" (click)="actualizarStatus(item.id)">
                                    <mat-icon>keyboard_return</mat-icon> Rehabilitar.
                                </button>
                            </div>
                        </div>
                        <div class="body">
                            <mat-accordion>
                                <mat-expansion-panel [expanded]="false"  hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Salón / Salones Asignados
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <table class="table">
                                        <thead>
                                            <th>Id</th>
                                            <th>Salón</th>
                                            <th>Acción</th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let itemRoms of item.roomRequestRooms">
                                                <td>{{ itemRoms.room.id }}</td>
                                                <td>{{ itemRoms.room.name }}</td>
                                                <td>
                                                    <button *ngIf="item.statusId===3" (click)="deleteRomsAsignado(itemRoms,item.id)"
                                                        matTooltip="Eliminar Salón" mat-mini-fab
                                                        color="accent"><mat-icon>delete</mat-icon></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>

                        <div class="body">
                            <mat-accordion>
                                <mat-expansion-panel [expanded]="false"   hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Requerimientos/Suplementos del salón
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <table class="table">
                                        <thead>
                                            <th>Id</th>
                                            <th>Requerimiento</th>
                                            <th>Acción</th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let itemRoms of item.roomRequestRoomRequirements">
                                                <td>{{ itemRoms.roomRequirement.id }}</td>
                                                <td>{{ itemRoms.roomRequirement.name }}</td>
                                                <td>
                                                    <button *ngIf="item.statusId===3" (click)="deleteRequirement(itemRoms,item.id)"
                                                        matTooltip="Eliminar Requerimiento" mat-mini-fab
                                                        color="accent"><mat-icon>delete</mat-icon></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>

                        <div class="body">
                          <mat-accordion>
                              <mat-expansion-panel [expanded]="false"  (opened)="getRoomRequestRoomDateTimeSlots(item.id)" hideToggle>
                                  <mat-expansion-panel-header>
                                      <mat-panel-title>
                                          Franja Horaria
                                      </mat-panel-title>
                                  </mat-expansion-panel-header>
                                  <table class="table">
                                      <thead>
                                          <th>Salón</th>
                                          <th>Fecha</th>
                                          <th>Hora Inicio</th>
                                          <th>Hora Fin</th>
                                          <th>Acción</th>
                                      </thead>
                                      <tbody>
                                        <tr *ngFor="let itemRoms of lstRoomRequestRoomDateTimeSlots[item.id]">
                                          <td>{{ itemRoms.roomName }}</td>
                                          <td>{{ itemRoms.date | date:'shortDate' }}</td>
                                          <td>{{ itemRoms.startTime| date:'shortTime' }}</td>
                                          <td>{{ itemRoms.endTime| date:'shortTime' }}</td>
                                          <td>
                                              <button *ngIf="item.statusId===3" (click)="OndeleteRoomRequestRoomDateTimeSlots(itemRoms.roomRequestRoomDateTimeId,itemRoms.roomTimeSlotId)"
                                                  matTooltip="Eliminar Franja Horaria" mat-mini-fab
                                                  color="accent"><mat-icon>delete</mat-icon></button>
                                          </td>
                                      </tr>
                                      </tbody>
                                  </table>
                              </mat-expansion-panel>
                          </mat-accordion>
                      </div>
                    </div>
                    <mat-progress-bar mode="indeterminate" *ngIf="_ActivityService.loading==true"></mat-progress-bar>
                </div>
            </div>
        </div>
    </div>
</section>
