<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Auditoria'" [items]="['Inicio','Seguridad']" [active_item]="'Auditoria'">
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            Consulta de Información de Auditoria
          </div>
          <div class="body">
            <!-- FILAS -->
            <div class="row">
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Filtros</mat-label>
                  <mat-select multiple [(ngModel)]="lstFiltrosSelected" (selectionChange)="eventSelection()">
                    <mat-option *ngFor="let row of lstFiltros" [value]="row.codigo">{{row.texto}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-12">
                <mat-button-toggle-group>
                  <mat-button-toggle (click)="limpiarTodosFiltros()"><mat-icon>close</mat-icon>Deshacer
                    Filtros</mat-button-toggle>
                  <mat-button-toggle (click)="seleccionarTodos()"><mat-icon>done</mat-icon>Seleccionar
                    Todos</mat-button-toggle>
                </mat-button-toggle-group>
              </div>
            </div>
            <form [formGroup]="form">
              <fieldset class="row" *ngIf="lstFiltrosSelected.length > 0">
                <legend>Criterios de Búsqueda</legend>
                <div class="row">
                  <div *ngIf="verificarExistenciaFiltro('Id')" class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Id</mat-label>
                      <input matInput appOnlyNumber formControlName="Id" type="text" placeholder="Id"
                        aria-label="Id" matInput>
                      <mat-error *ngIf="form.get('Id')?.hasError">Id</mat-error>
                    </mat-form-field>
                  </div>
                  <div *ngIf="verificarExistenciaFiltro('Year')" class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Año</mat-label>
                      <input matInput formControlName="Year" appOnlyNumber maxlength="4" type="text" placeholder="Año"
                        aria-label="Year">
                      <mat-error *ngIf="form.get('Year')?.hasError">Año</mat-error>
                    </mat-form-field>
                  </div>
                  <div *ngIf="verificarExistenciaFiltro('Month')" class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Mes</mat-label>
                      <mat-select formControlName="Month">
                        <mat-option [value]=""></mat-option>
                        <mat-option [value]="1">ENERO</mat-option>
                        <mat-option [value]="2">FEBRERO</mat-option>
                        <mat-option [value]="3">MARZO</mat-option>
                        <mat-option [value]="4">ABRIL</mat-option>
                        <mat-option [value]="5">MAYO</mat-option>
                        <mat-option [value]="6">JUNIO</mat-option>
                        <mat-option [value]="7">JULIO</mat-option>
                        <mat-option [value]="8">AGOSTO</mat-option>
                        <mat-option [value]="9">SEPTIEMBRE</mat-option>
                        <mat-option [value]="10">OCTUBRE</mat-option>
                        <mat-option [value]="11">NOVIEMBRE</mat-option>
                        <mat-option [value]="12">DICIEMBRE</mat-option>
                      </mat-select>
                      <mat-error *ngIf="form.get('Month')?.hasError">Mes</mat-error>
                    </mat-form-field>
                  </div>
                  <div *ngIf="verificarExistenciaFiltro('Day')" class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Día</mat-label>
                      <input matInput formControlName="Day" maxlength="2" appOnlyNumber type="text" placeholder="Día"
                        aria-label="Día">
                      <mat-error *ngIf="form.get('Day')?.hasError">Día</mat-error>
                    </mat-form-field>
                  </div>
                  <div *ngIf="verificarExistenciaFiltro('EventType')" class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Tipo de Evento</mat-label>
                      <mat-select formControlName="EventType">
                        <mat-option [value]=""></mat-option>
                        <mat-option [value]="1">Create</mat-option>
                        <mat-option [value]="2">Update</mat-option>
                        <mat-option [value]="3">Delete</mat-option>
                        <mat-option [value]="4">Login</mat-option>
                        <mat-option [value]="5">5</mat-option>
                        <mat-option [value]="6">Others</mat-option>
                      </mat-select>
                      <mat-error *ngIf="form.get('EventType')?.hasError">Tipo de Evento</mat-error>
                    </mat-form-field>
                  </div>
                  <div *ngIf="verificarExistenciaFiltro('UserId')" class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Lista de Usuarios</mat-label>
                      <mat-select formControlName="UserId">
                        <mat-option *ngFor="let user of UserList" [value]="user.id">{{user.userName}}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="form.get('UserList')?.hasError">Lista de Usuarios</mat-error>
                    </mat-form-field>
                  </div>
                  <div *ngIf="verificarExistenciaFiltro('EntityName')" class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Nombre de la Entidad</mat-label>
                      <input matInput formControlName="EntityName" maxlength="50" type="text" placeholder="Nombre de la Entidad"
                        aria-label="Nombre de la Entidad">
                      <mat-error *ngIf="form.get('EntityName')?.hasError">Nombre de la Entidad</mat-error>
                    </mat-form-field>
                  </div>
                  <div *ngIf="verificarExistenciaFiltro('Message')" class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                    <mat-form-field class="example-full-width"  appearance="outline">
                      <mat-label>Mensaje</mat-label>
                      <input matInput formControlName="Message" maxlength="50" type="text" placeholder="Mensaje"
                        aria-label="Mensaje">
                      <mat-error *ngIf="form.get('Message')?.hasError">Mensaje</mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </fieldset>
            </form>
            <br />
            <button mat-raised-button color="primary" [disabled]="lstFiltrosSelected.length === 0 && !IsLoading"
              (click)="consultar()">
              <mat-icon>search</mat-icon>Buscar
            </button>
            <br />
            <br />
            <div class="col-12">
              <p>Cantidad de Resultados ({{ totalR }})</p>
            </div>
            <hr />
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card">
                <div class="materialTableHeader">
                  <div class="left">
                    <ul class="header-buttons-left ms-0">
                      <li class="tbl-title">
                        <h2>Información Docente</h2>
                      </li>
                      <li class="tbl-search-box">
                        <label for="search-input"><i class="material-icons search-icon">search</i></label>
                        <input placeholder="Buscar" (keyup)="filtrar($event)" type="text" #filter
                          class="browser-default search-field" aria-label="Search box">
                      </li>
                    </ul>
                  </div>
                  <div class="right">
                    <ul class="tbl-export-btn">
                      <li class="tbl-header-btn">
                        <div class="export-button m-l-10" matTooltip="XLSX">
                          <img src="assets/images/icons/xlsx.png" alt="" (click)="exportExcel()" />
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="body overflow-auto">
                  <mat-progress-bar mode="indeterminate" *ngIf="IsLoading"></mat-progress-bar>
                  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="w-100"
                    *ngIf="!IsLoading">
                    <ng-container matColumnDef="id">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Id
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <span class="mobile-label">Id:</span>{{row.id }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="userId">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Usuario
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <span class="mobile-label">Usuario:</span>{{row.userId }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="eventType">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo de Evento
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <span class="mobile-label">Tipo de Evento:</span>{{row.eventType | entityType }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="entityName">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre de entidad
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row" [matTooltip]="row.entityName">
                        <span class="mobile-label">Nombre de la Entidad:</span>{{row.entityName }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="message">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Mensaje
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row" [matTooltip]="row.message">
                        <span class="mobile-label">Mensaje:</span>{{row.message }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="oldData">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Dato Anterior
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row" [matTooltip]="row.oldData">
                        <span class="mobile-label">Dato Anterior:</span>{{row.oldData }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="newData">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Dato Actual
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row" [matTooltip]="row.newData">
                        <span class="mobile-label">Dato Actual:</span>{{row.newData }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="timestamp">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha y Hora
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <span class="mobile-label">Fecha y Hora:</span>{{row.timestamp |
                        date:'dd/MM/yyyy HH:mm:ss'}}</mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row  (click)="detalleLog(row)" *matRowDef="let row; columns: displayedColumns;" [style.cursor]="'pointer'" matRipple>
                    </mat-row>
                  </table> 
                  <div *ngIf="!IsLoading" class="no-results text-center my-4"
                  [style.display]="auditLogModel.length === 0 ? '' : 'none'"
                  style="color: rgba(0, 0, 0, 0.301); font-size: 1.2em;">
              <mat-icon class="no-results-icon">info</mat-icon>
              <p>No hay datos disponibles</p>
              </div>
                  <mat-paginator #paginator  [pageSize]="10" [pageSizeOptions]="[10, 25, 50,100]" [length]="totalR" (page)="onPaginateChange($event)">
                  </mat-paginator>
                </div>
              </div>
            </div>
          </div>
          <!-- FIN FILAS-->
        </div>
      </div>
    </div>
  </div>
</section>

