<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Tareas'" [items]="['Perfil','Historial Docente']" [active_item]="'Listado de Tareas'">
      </app-breadcrumb>
    </div>
    <div class="row clearfix" style="margin-bottom: 20px;text-align: right;">
      <div class="">
        <button matTooltip="Regresar" mat-raised-button color="accent" (click)="volverAtras()">
          <mat-icon>keyboard_backspace</mat-icon> Regresar
        </button>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2 class="text-uppercase"><strong>Listado de Tareas-<span class="badge badge-solid-blue">{{ taskSubject.nombre}}</span></strong></h2>
          </div>
          <div class="body">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                  <div class="materialTableHeader">
                    <div class="left">
                      <ul class="header-buttons-left ms-0">
                        <li class="tbl-title">
                          <h2>Tareas</h2>
                        </li>
                        <li class="tbl-search-box">
                          <label for="search-input"><i class="material-icons search-icon">search</i></label>
                          <input placeholder="Buscar" type="text" #filter class="browser-default search-field"
                            aria-label="Search box">
                        </li>
                      </ul>
                    </div>
                    <div class="right">
                      <ul class="tbl-export-btn">
                       
                        <li class="tbl-header-btn">
                          <div class="m-l-10" matTooltip="Recargar">
                            <button mat-mini-fab color="primary" (click)="refresh()">
                              <mat-icon class="col-white">refresh</mat-icon>
                            </button>
                          </div>
                        </li>

                        <li>
                          <div class="export-button m-l-10" matTooltip="XLSX">
                            <img src="assets/images/icons/xlsx.png" alt="" (click)="exportExcel()" />
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="body overflow-auto">
                    <div class="body table-responsive">
                      <table mat-table [dataSource]="dataTask" class="w-100">

                        <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef> Titulo </th>
                          <td mat-cell *matCellDef="let element">{{ element.title }} </td>
                      </ng-container>
                      <ng-container matColumnDef="tipo">
                          <th mat-header-cell *matHeaderCellDef> Tipo </th>
                          <td mat-cell *matCellDef="let element"> {{ element.taskType.name }}</td>
                      </ng-container>
                      <!-- <ng-container matColumnDef="subject">
                          <th mat-header-cell *matHeaderCellDef> Asignatura</th>
                          <td mat-cell *matCellDef="let element">{{ element.subject?.name===null?element.activity.name:element.subject?.name }} </td>
                      </ng-container> -->
                      
                      <ng-container matColumnDef="observation">
                        <th mat-header-cell *matHeaderCellDef> Observación</th>
                        <td mat-cell *matCellDef="let element">{{ element?.observation===null?element.activity.observation:element.observation }} </td>
                    </ng-container>

                      <ng-container matColumnDef="finalDate">
                          <th mat-header-cell *matHeaderCellDef> Fecha Final </th>
                          <td mat-cell *matCellDef="let element">{{ element.finalDate |date:'dd/M/yyyy' }}
                          </td>
                      </ng-container>

                        <ng-container matColumnDef="accion">
                          <th mat-header-cell *matHeaderCellDef> Acción </th>
                          <td mat-cell *matCellDef="let element; let i=index">
                            <button mat-mini-fab color="primary" (click)="$event.stopPropagation()"
                              (click)="Detail(element)" class="tbl-action-btn">
                              <mat-icon>remove_red_eye</mat-icon>
                            </button>
                            <!-- <button mat-mini-fab color="accent" (click)="editCall(element)" matTooltip="delete">
                              <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-mini-fab color="accent" (click)="EliminarTarea(element)" matTooltip="delete">
                              <mat-icon>delete</mat-icon>
                            </button> -->


                          </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>

                    </div>


                    <mat-menu #contextMenu="matMenu">
                      <ng-template matMenuContent let-item="item">
                        <button mat-menu-item (click)="addNew()">
                          <mat-icon>add_box</mat-icon>
                          <span>Add Record</span>
                        </button>
                        <button mat-menu-item (click)="editCall(item)">
                          <mat-icon>create</mat-icon>
                          <span>Edit Record</span>
                        </button>

                        <button mat-menu-item (click)="refresh()">
                          <mat-icon>refresh</mat-icon>
                          <span>Refresh Record</span>
                        </button>
                        <button mat-menu-item disabled>
                          <mat-icon>no_encryption</mat-icon>
                          <span>Disable</span>
                        </button>
                        <button mat-menu-item [matMenuTriggerFor]="nestedmenu">
                          <mat-icon>list_alt</mat-icon>
                          <span> Nested Menu</span>
                        </button>
                      </ng-template>
                    </mat-menu>
                    <mat-menu #nestedmenu="matMenu">
                      <button mat-menu-item>
                        <mat-icon>mail_outline</mat-icon>
                        <span>Item 1</span>
                      </button>
                      <button mat-menu-item>
                        <mat-icon>call</mat-icon>
                        <span>Item 2</span>
                      </button>
                      <button mat-menu-item>
                        <mat-icon>chat</mat-icon>
                        <span>Item 3</span>
                      </button>
                    </mat-menu>
                    <!-- context menu end -->

                    <mat-paginator #pagination [pageSizeOptions]="[5, 10, 25, 100]">
                    </mat-paginator>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>