<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <div class="modal-about">
                    {{dialogTitle}}
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="_SubjectModalForms" (ngSubmit)="submit">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="name">
                        <mat-error *ngIf="_SubjectModalForms.get('name')?.hasError('required')">
                            El Nombre es requerido
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Acrónimo</mat-label>
                        <input maxlength="10" matInput formControlName="acronym">
                        <mat-error *ngIf="_SubjectModalForms.get('acronym')?.hasError('required')">
                            El Acrónimo es requerido
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Código</mat-label>
                        <input  matInput formControlName="code">
                        <mat-error *ngIf="_SubjectModalForms.get('code')?.hasError('required')">
                            El Código es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>cantidad de créditos</mat-label>
                        <input matInput type="number" formControlName="numOfCredits">
                        <mat-error *ngIf="_SubjectModalForms.get('numOfCredits')?.hasError('required')">
                            la cantidad de créditos es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
            
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>cantidad de horas</mat-label>
                        <input matInput type="number" formControlName="numOfHours">
                        <mat-error *ngIf="_SubjectModalForms.get('numOfHours')?.hasError('required')">
                            El cantidad de horas es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
            
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>número de clases </mat-label>
                        <input matInput formControlName="numOfClasses">
                        <mat-error *ngIf="_SubjectModalForms.get('numOfClasses')?.hasError('required')">
                            El Código es requerido
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Laboratorio</mat-label>
                        <mat-select formControlName="hasLaboratory">
                            <mat-option value="">--------------</mat-option>
                            <mat-option value="1">Si</mat-option>
                            <mat-option value="2">No</mat-option>
                        </mat-select>
                        <mat-error *ngIf="_SubjectModalForms.get('hasLaboratory')?.hasError('required')">
                            Laboratorio es requerida
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>horas de sincronas</mat-label>
                        <input matInput type="number" formControlName="synchronousHours">
                        <mat-error *ngIf="_SubjectModalForms.get('synchronousHours')?.hasError('required')">
                              es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
            
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>horas asincronas</mat-label>
                        <input matInput type="number" formControlName="asynchronousHours">
                        <mat-error *ngIf="_SubjectModalForms.get('asynchronousHours')?.hasError('required')">
                             es requerido
                        </mat-error>
                    </mat-form-field>
                </div>

            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Descripción</mat-label>
                        <textarea matInput formControlName="description" cols="30" rows="2"></textarea>
                    </mat-form-field>
                </div>
            
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Criterios de Evaluación</mat-label>
                        <textarea matInput formControlName="evaluationCriteria" cols="30" rows="2"></textarea>
                    </mat-form-field>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2" *ngIf="data.accion=='edit-asignaturas'">
                    <mat-form-field class="example-full-width " appearance="outline">
                        <mat-label>Estado</mat-label>
                        <mat-select formControlName="statusId">
                            <mat-option [value]="1">
                                Activo
                            </mat-option>
                            <mat-option [value]="2">
                                Inactivo
                            </mat-option>
                
                        </mat-select>
                        <mat-error *ngIf="_SubjectModalForms.get('statusId')?.hasError('required')">
                            el estatus es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <button mat-raised-button color="primary" [disabled]="!_SubjectModalForms.valid"
                            (click)="confirmAdd()">Guardar</button>
                        <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancelar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>