.clases {
    color: white;
    background: #38366b;
    text-transform: uppercase;
}

.theat {
    background: #5a5884;
    font-weight: 400;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
}

.theatanio {
    background: #5a588494;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 12px;
    text-transform: uppercase;
}

.period {
    background: rgb(159 158 184 / 20%);
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 12px;
    text-transform: uppercase;
}