<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <div class="modal-about">
                    {{dialogTitle}}
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <div class="content">
          <p style="text-transform: uppercase;font-weight: bold;">Información General</p>
          <table>
            <tr>
              <td><b>ID:</b></td>
              <td>{{ data.audit.id }}</td>
            </tr>
            <tr>
              <td><b>Timestamp:</b></td>
              <td>{{ data.audit.timestamp }}</td>
            </tr>
            <tr>
              <td><b>Event Type:</b></td>
              <td>{{ data.audit.eventType }}</td>
            </tr>
            <tr>
              <td><b>Request URL:</b></td>
              <td>{{ data.audit.requestUrl }}</td>
            </tr>
            <tr>
              <td><b>User ID:</b></td>
              <td>{{ data.audit.userId }}</td>
            </tr>
            <tr>
              <td><b>Entity Name:</b></td>
              <td>{{ data.audit.entityName }}</td>
            </tr>
          </table>
        </div>
        <div class="data-section">
          <p style="text-transform: uppercase;font-weight: bold;">Data anterior</p>
          <pre>{{ data.audit.oldData | json }}</pre>
        </div>
    
        <div class="data-section">
            <p style="text-transform: uppercase;font-weight: bold;">Data Nueva</p>
            <pre>{{ data.audit.newData | json }}</pre>
          </div>
    
      </div>
</div>