<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <div class="modal-about">
                    {{dialogTitle}}
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="PosterForm" (ngSubmit)="submit">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                            <mat-label>Cargar Afiche/Documento</mat-label>
                            <app-file-upload  formControlName="Poster"></app-file-upload>
                        </div>

                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Comentario</mat-label>
                            <textarea matInput formControlName="Comment"></textarea>
                        </mat-form-field>
                        </div>

                    </div>
                </div>
            </div>
            <button mat-raised-button color="primary" [disabled]="!PosterForm.valid"
                (click)="submit()">Guardar</button>
            </div>
        </form>
    </div>
</div>