<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Listado de participantes'" [items]="['Inicio','Admisión','Incripción']"
        [active_item]="'Listado De Participantes'">
      </app-breadcrumb>
    </div>
    <div class="row clearfix" style="margin-bottom: 20px;text-align: right;">
      <div class="">
        <button matTooltip="Regresar" mat-raised-button color="accent" (click)="regresar()">
          <mat-icon>keyboard_backspace</mat-icon> Regresar
        </button>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2 class="text-uppercase">Listado de participantes para la actividad: <strong>{{ nameActivity }}</strong>
            </h2>
          </div>
          <div class="body">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                  <div class="materialTableHeader">
                    <div class="left">
                      <ul class="header-buttons-left ms-0">
                        <li class="tbl-title">
                          <h2>Participantes</h2>
                        </li>
                        <li class="tbl-search-box">
                          <label for="search-input"><i class="material-icons search-icon">search</i></label>
                          <input placeholder="Buscar" type="text" #filter class="browser-default search-field"
                            aria-label="Search box">
                        </li>
                      </ul>
                    </div>
                    <div class="right">
                      <ul class="tbl-export-btn">
                        <li class="tbl-header-btn">
                          <div class="m-l-10" matTooltip="Recargar">
                            <button mat-mini-fab color="primary" (click)="refresh()">
                              <mat-icon class="col-white">refresh</mat-icon>
                            </button>
                          </div>
                        </li>
                        <li>
                          <div class="export-button m-l-10" matTooltip="XLSX">
                            <img src="assets/images/icons/xlsx.png" alt="" (click)="exportExcel()" />
                          </div>
                        </li>
                        <li class="tbl-header-btn">
                          <div class="m-l-10" matTooltip="Listar PDF">
                            <button mat-mini-fab color="primary" (click)="viewPartakerListPDF()">
                              <mat-icon>picture_as_pdf</mat-icon>
                            </button>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="body overflow-auto">
                    <div class="responsive_table">
                      <table mat-table [dataSource]="dataSource" matSort class="mat-cell advance-table">

                        <ng-container matColumnDef="name">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row">
                            <span class="mobile-label">Nombre:</span>{{ row.firstName }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="lastName">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Apellido
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row">
                            <span class="mobile-label">Apellido:</span>{{ row.lastName }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="cedula">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Cedula
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row">
                            <span class="mobile-label">Cedula:</span>{{ row.cedula }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="activdad">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Actividad
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row">
                            <span class="mobile-label">Actividad:</span>{{ row.activityName }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="estado">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Estado
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row">
                            <span class="mobile-label">Estado:</span>
                            <span class="badge badge-solid-green">{{ row.statusName }}</span>
                          </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="fecha_inscrito">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Inscrito
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row">
                            <span class="mobile-label">Fecha Inscrito:</span>{{ row.fechaInscrito | date:'dd/M/yyyy'
                            }}</mat-cell>
                        </ng-container>

                        <!-- actions -->
                        <ng-container matColumnDef="actions">
                          <mat-header-cell class="pr-0" *matHeaderCellDef>Acciones</mat-header-cell>
                          <mat-cell *matCellDef="let row; let i=index;" class="pr-0">


                            <button matTooltip="Ver Detalle" mat-mini-fab color="primary" (click)="ViewDetail(row)">
                              <mat-icon>remove_red_eye</mat-icon>
                            </button>
                            <button matTooltip="Aprobar estudiante" mat-mini-fab color="warn" (click)="aprobar(row)">
                              <app-feather-icons [icon]="'check-square'"></app-feather-icons>
                            </button>

                          </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editCall(row)"
                          [style.cursor]="'pointer'" matRipple>
                        </mat-row>
                      </table>
                    </div>
                    <!-- Loading spinner -->
                    <div *ngIf="exampleDatabase?.isTblLoading" class="tbl-spinner">
                      <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                      </mat-progress-spinner>
                    </div>
                    <!-- context menu start -->
                    <div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x"
                      [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
                    </div>
                    <mat-menu #contextMenu="matMenu">
                      <ng-template matMenuContent let-item="item">
                        <button mat-menu-item (click)="addNew()">
                          <mat-icon>add_box</mat-icon>
                          <span>Add Record</span>
                        </button>

                        <li>
                          <div class="export-button m-l-10" matTooltip="XLSX">
                            <img src="assets/images/icons/xlsx.png" alt="" (click)="exportExcel()" />
                          </div>
                        </li>





                        <button mat-menu-item (click)="refresh()">
                          <mat-icon>refresh</mat-icon>
                          <span>Refresh Record</span>
                        </button>
                        <button mat-menu-item disabled>
                          <mat-icon>no_encryption</mat-icon>
                          <span>Disable</span>
                        </button>
                        <button mat-menu-item [matMenuTriggerFor]="nestedmenu">
                          <mat-icon>list_alt</mat-icon>
                          <span> Nested Menu</span>
                        </button>
                      </ng-template>
                    </mat-menu>
                    <mat-menu #nestedmenu="matMenu">
                      <button mat-menu-item>
                        <mat-icon>mail_outline</mat-icon>
                        <span>Item 1</span>
                      </button>
                      <button mat-menu-item>
                        <mat-icon>call</mat-icon>
                        <span>Item 2</span>
                      </button>
                      <button mat-menu-item>
                        <mat-icon>chat</mat-icon>
                        <span>Item 3</span>
                      </button>
                    </mat-menu>
                    <!-- context menu end -->
                    <div *ngIf="!exampleDatabase?.isTblLoading" class="no-results"
                      [style.display]="dataSource.renderedData.length === 0 ? '' : 'none'">
                      No results
                    </div>
                    <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="5"
                      [pageSizeOptions]="[5, 10, 25, 100]">
                    </mat-paginator>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>

</section>
