<div class="auth-container">

  <div class="row auth-main">

      <div class="col-sm-12 auth-form-section">


          <div class="content-block">

              <div class="row clearfix">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <div class="card">
                          <div class="row" style="height: auto;">
                              <div class="col-12 " style="max-height:auto; text-align-last: center;">
                                  <img src="assets/images/ISJUP.png" style="height: 200px; margin-top: 10px;" />
                                  <br><br>
                                  <mat-divider style="border: inset;"></mat-divider>
                                  <h5><strong>Convocatorias Docentes</strong></h5>
                              </div>
                          </div>
                          <div class="body">
                            <div class="row">
                              <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-7">
                                  <div style="display: flex;gap: 10px;">
                                    <mat-form-field class="col-3" appearance="outline">
                                      <mat-label>Buscar Vacante</mat-label>
                                      <input #filter matInput/>
                                      <mat-icon (click)="getVacancy(filter.value)" class="material-icons-two-tone color-icon p-3"
                                        matSuffix>search</mat-icon>
                                    </mat-form-field>
                                    <mat-form-field class="col-2" appearance="outline">
                                      <mat-label>Fecha Desde</mat-label>
                                      <input matInput [matDatepicker]="pickerStart1">
                                      <mat-datepicker-toggle matSuffix [for]="pickerStart1"></mat-datepicker-toggle>
                                      <mat-datepicker #pickerStart1></mat-datepicker>
                                    </mat-form-field>
                                    <mat-form-field class="col-2" appearance="outline">
                                      <mat-label>Fecha Hasta</mat-label>
                                      <input matInput [matDatepicker]="pickerStart2">
                                      <mat-datepicker-toggle matSuffix [for]="pickerStart2"></mat-datepicker-toggle>
                                      <mat-datepicker #pickerStart2></mat-datepicker>
                                    </mat-form-field>
                                    <button mat-raised-button color="primary" class="m-3"
                                    >Buscar</button>
                                  </div>
                              </div>
                              <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-5 mt-4">
                                Estimado docente, ingrese su solicitud en <a  routerLink="/teacher/teacher-admission-external/{{id}}/{{type}}" target="_blank">este enlace</a>
                              </div>
                            </div>
                            <div class="row">
                            <div class=" col-lg-7 col-md-7 col-xs-7 col-sm-7 col-12">
                              <div *ngFor="let row of lstResultados">
                                <a routerLink="/calls/view-call-for-apply/{{ row.url }}">
                                <div class="card p-3 mb-2 hoverable rounded border-0">
                                 <div class="card-vacancy align-items-center mb-1">
                                   <div class="card-body p-0 d-flex flex-column">
                                      <h4 class="font-black m-0 mb-2 fs-20 name__vacancy">
                                         {{row.titulo}}
                                      </h4>
                                      <p class="card-text text-truncate m-0 mb-1 fs-14 text-color">
                                       {{row.proceso === 1 ? "Educación Continua" : "Educación Formal"}}
                                      </p>
                                      <p class="card-text text-truncate m-0 mb-1 fs-14 text-color">
                                       Del {{ row.fechaInicio | date: 'dd/MM/yyyy' }} al {{ row.fechaFin | date: 'dd/MM/yyyy'}}
                                      </p>
                                      <div class="d-flex justify-content-end">
                                        <p class="card-text text-uppercase  align-items-end m-0 font-weight-light">
                                          <span *ngIf="row.statusId===1" class="badge badge-solid-green">
                                            Nuevo
                                          </span>

                                          <span *ngIf="row.statusId===2" class="badge badge-solid-red">
                                            Por Vencer
                                          </span>

                                        </p>
                                      </div>
                                   </div>
                                 </div>
                                </div>
                               </a>
                               </div>
                            <div class="d-flex justify-content-end">
                             1-1 de 2 vacantes
                            </div>
                            <div class="d-flex justify-content-center mt-3">
                                  <button class="btn btn-light">1</button>
                             </div>
                           </div>

                           <div class="col-lg-5 col-md-5 col-xs-5 col-sm-5 col-12">
                             <div class="card rounded border-0">
                                  <h5 class="mt-4 ml-4 mb-2 hrc-black font-weight-bold">Nosotros</h5>
                                 <div class="card-body px-4 pt-1 fs-14">
                                  <p style="text-align: justify;">
                                    Somos una institución dedicada a la formación integral especializada de personas vinculadas a la administración de justicia, con el propósito de dotar de las competencias requeridas para el desempeño de los distintos roles, que aspiren o ejerzan, mediante una constante actualización académica, desarrollo profesional y adecuación a los nuevos desafíos que nos imponen la reforma judicial, el conocimiento y las tecnologías de la información y la comunicación.
                                   </p>
                                   <p style="text-align: justify;">
                                   En el marco del Órgano Judicial, somos una institución educativa superior reconocida por la excelencia de los servicios que presta, cuyo impacto se proyecta hacia la mejora constante de la calidad de la labor judicial, el desarrollo de la investigación judicial y el establecimiento de redes de conocimiento en el espacio iberoamericano y el entorno global.
                                   </p>
                                </div>
                                </div>
                           </div>
                          </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
