.auth-container {
  height: 100%;
  width: 80%;
  margin: 0%;
  margin-inline: auto;

  }

  .auth-container .auth-main {

       min-height: 0px !important;
  }

  .card-vacancy{
    display: flex;
    gap:8px;
  }

  .card.hoverable {
    transition: all 0.3s;
    cursor: pointer;
    height: auto;
    border-radius: 6px !important;
    justify-content: center;
  }

  .card.hoverable:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3) !important;
   }

  .left-img {

      padding: 0px 0px !important;;

  }



  img {
      max-width: 100%;
      max-height: 100%;
      height: auto;
      width: auto;
      }

a{
  color: #ff0000;
}
a:link{
  text-decoration: none !important;
}
a:hover{
  color: #ff0000 !important;
  cursor: pointer !important;
}
a:visited{
  color: #ff0000 !important;
  font-weight: bold !important;
  font-style: italic;
}
