<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <div class="modal-about">
                    {{dialogTitle}}
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="AnnualPlamForm" (ngSubmit)="submit">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Nombre</mat-label>
                                    <input matInput formControlName="name">
                                    <mat-error *ngIf="AnnualPlamForm.get('name')?.hasError('required')">
                                        El Nombre` es requerido
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-3">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Descripción</mat-label>
                                    <textarea matInput formControlName="description"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Fecha de Inicio</mat-label>
                                    <input matInput [matDatepicker]="fechaInicio" formControlName="startDate">
                                    <mat-datepicker-toggle matSuffix [for]="fechaInicio"></mat-datepicker-toggle>
                                    <mat-datepicker #fechaInicio></mat-datepicker>
                                    <mat-error *ngIf="AnnualPlamForm.get('startDate')?.hasError('required')">
                                        Selecciones una fecha
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Fecha Final</mat-label>
                                    <input matInput [matDatepicker]="fechaFin" formControlName="endDate">
                                    <mat-datepicker-toggle matSuffix [for]="fechaFin"></mat-datepicker-toggle>
                                    <mat-datepicker #fechaFin></mat-datepicker>
                                    <mat-error *ngIf="AnnualPlamForm.get('endDate')?.hasError('required')">
                                    Selecciones una fecha
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                             <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                                <mat-form-field class="example-full-width " appearance="outline">
                                    <mat-label>Estado</mat-label>
                                    <mat-select formControlName="statusId">
                                        <mat-option [value]="1">
                                            Activo
                                        </mat-option>
                                        <mat-option [value]="2">
                                            Inactivo
                                        </mat-option>

                                    </mat-select>
                                    <mat-error *ngIf="AnnualPlamForm.get('statusId')?.hasError('required')">
                                        el estatus es requerido
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <button mat-raised-button color="primary" [disabled]="!AnnualPlamForm.valid"
                    (click)="submit()">Guardar</button>
            </div>
        </form>
    </div>
</div>