<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          {{dialogTitle}}
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <div class="body table-responsive">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder=".....">
      </mat-form-field>
      <mat-progress-bar mode="indeterminate" *ngIf="IsLoading"></mat-progress-bar>
      <table *ngIf="!IsLoading" mat-table [dataSource]="ListadoCalificacion" class="w-100">
        <ng-container matColumnDef="tarea">
          <th mat-header-cell *matHeaderCellDef>Titulo </th>
          <td mat-cell *matCellDef="let element"> {{element.activityTask.title}} </td>
        </ng-container>
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef>Descripción </th>
          <td mat-cell *matCellDef="let element"> {{element.activityTask.description}} </td>
        </ng-container>
        <ng-container matColumnDef="calificacion">
          <th mat-header-cell *matHeaderCellDef>Nota </th>
          <td mat-cell *matCellDef="let element"> {{element.score}} </td>
        </ng-container>
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef>Fecha Nota </th>
          <td mat-cell *matCellDef="let element"> {{element.createdDate | date:'dd/M/yyyy'}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator #pagination [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
