<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <div class="modal-about">
                    {{dialogTitle}}
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="RequestVariousForm" (ngSubmit)="submit">
            <div  class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2" >
                    <mat-form-field class="example-full-width" appearance="outline" >
                        <mat-label>Tipo de Actividad Académica</mat-label>
                        <mat-select formControlName="typeActivityAcademy" [(ngModel)]="typeActivityAcademySelected" [disabled] = typeDesabled>
                            <mat-option *ngFor="let item of typeActivityAcademy" [value]="item.id">
                                {{item.name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="RequestVariousForm.get('typeActivityAcademy')?.hasError('required')">
                            Es requerido
                        </mat-error>
                    </mat-form-field>

                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Tipo de Solicitud</mat-label>
                        <mat-select [(ngModel)]="RequesttypeSelect" formControlName="typeRequest" (ngModelChange)="changeRequesttype()">
                            <mat-option *ngFor="let item of RequesttypeList" [value]="item.id"> {{
                                item.name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="RequestVariousForm.get('typeRequest')?.hasError('required')">
                            Es requerido
                        </mat-error>
                    </mat-form-field>

                </div>
            </div>

            <div   class="row">
                <div *ngIf="RequestVariousForm.get('typeActivityAcademy')?.value === 2"
                    class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Actividad</mat-label>
                        <mat-select [ngModel]="idSubjectOrActivity" formControlName="idSubjectOrActivity" [disabled] = valueDesabled>
                            <mat-option value="">-----------</mat-option>
                            <mat-option *ngFor="let item of _GetOneActivity" [value]="item.id"> {{ item.name
                                }}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="RequestVariousForm.get('idSubjectOrActivity')?.hasError('required')">
                            Es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
                <!-- && RequesttypeSelect === 5 || RequesttypeSelect === 9 || RequesttypeSelect === 6 -->
              <div *ngIf="RequestVariousForm.get('typeActivityAcademy')?.value === 1 "
                   class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Carrera</mat-label>
                  <mat-select [ngModel]="careerSelected" formControlName="career" (ngModelChange)="changecarrer($event)"  [disabled] = valueDesabled>
                    <mat-option value="">-----------</mat-option>
                    <mat-option *ngFor="let item of _Career" [value]="item.degreeCurriculumDesignId"> {{ item.mCurriculumName}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="RequestVariousForm.get('idSubjectOrActivity')?.hasError('required')">
                    Es requerido
                  </mat-error>
                </mat-form-field>
              </div>
              <div *ngIf="RequestVariousForm.get('typeActivityAcademy')?.value === 1 &&  RequesttypeSelect === 9"
                   class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Carrera Destino</mat-label>
                  <mat-select [ngModel]="careerDestinySelected" formControlName="career" (ngModelChange)="changeDestinycarrer($event)"  [disabled] = valueDesabled>
                    <mat-option value="">-----------</mat-option>
                    <mat-option *ngFor="let item of _Career" [value]="item.degreeCurriculumDesignId"> {{ item.mCurriculumName}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="RequestVariousForm.get('idSubjectOrActivity')?.hasError('required')">
                    Es requerido
                  </mat-error>
                </mat-form-field>
              </div>
              <!-- && RequesttypeSelect !== 5 -->
                <div *ngIf="RequestVariousForm.get('typeActivityAcademy')?.value === 1  && RequesttypeSelect !== 9 && RequesttypeSelect !== 6 && RequesttypeSelect !== 30"
                    class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Asignaturas</mat-label>
                        <mat-select [ngModel]="idSubjectOrActivity" formControlName="idSubjectOrActivity" [disabled] = valueDesabled>
                            <mat-option value="">-----------</mat-option>
                            <mat-option *ngFor="let item of  _SubjectMatriculas" [value]="item.asignaturaId"> {{ item.asignatura}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="RequestVariousForm.get('idSubjectOrActivity')?.hasError('required')">
                            Es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
                <!-- && RequesttypeSelect === 5  || RequesttypeSelect === 9 || RequesttypeSelect === 6-->
              <div *ngIf="RequestVariousForm.get('typeActivityAcademy')?.value === 1  && RequesttypeSelect === 9  "
                   class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Asignaturas</mat-label>
                  <mat-select [ngModel]="idSubjectOrActivity" formControlName="idSubjectOrActivity" [disabled] = valueDesabled>
                    <mat-option value="">-----------</mat-option>
                    <mat-option *ngFor="let item of _Subject " [value]="item.id"> {{ item.name}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="RequestVariousForm.get('idSubjectOrActivity')?.hasError('required')">
                    Es requerido
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Comentarios</mat-label>
                        <textarea matInput formControlName="comments" cols="30" rows="5"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <button mat-raised-button color="primary" [disabled]="!RequestVariousForm.valid"
                            (click)="confirmAdd()">Guardar</button>
                        <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancelar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
