.calendar-container {
    width: 100%;
  }
  
  .fc-day-grid {
    font-size: 12px;
    background: cornflowerblue!important;
  }
  
  .fc-event {
    padding: 5px;
    background: cornflowerblue!important;
    background-color: #3407d6!important;
  }