<div class="addContainer">
    <div class="modalHeader">
      <div class="editRowModal">
        <div class="modalHeader clearfix">
          <div class="modal-about">
            {{dialogTitle}}
          </div>
        </div>
      </div>
      <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div mat-dialog-content>
      <form class="register-form m-4" [formGroup]="requiredDocumentForm" (ngSubmit)="submit">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-4">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name">
              <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
              <mat-error *ngIf="requiredDocumentForm.get('name')?.hasError('required')">
                El nombre es requerido
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-6">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Descripción</mat-label>
              <input matInput formControlName="description">
              <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
              <mat-error *ngIf="requiredDocumentForm.get('description')?.hasError('required')">
                La Descripción es requerida
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-6">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Puntos</mat-label>
              <input matInput formControlName="point">
              <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
              <mat-error *ngIf="requiredDocumentForm.get('point')?.hasError('required')">
                Los puntos son requeridos
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
            <mat-form-field class="example-full-width " appearance="outline">
              <mat-label>Record</mat-label>
              <mat-select formControlName="isRecord">
                <mat-option value=true>
                  Si
                </mat-option>
                <mat-option value=false>
                  No
                </mat-option>
              </mat-select>
              <mat-error *ngIf="requiredDocumentForm.get('isRecord')?.hasError('required')">
                es requerido
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
            <mat-form-field class="example-full-width " appearance="outline">
                <mat-label>Proceso</mat-label>
                <mat-select formControlName="typeEducationId">
                    <mat-option *ngFor="let row of processList" [value]="row.id">
                        {{row.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="requiredDocumentForm.get('typeEducationId')?.hasError('required')">
                     es requerido
                </mat-error>
            </mat-form-field>
        </div>

          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
            <mat-form-field class="example-full-width " appearance="outline">
                <mat-label>Estado</mat-label>
                <mat-select formControlName="statusId">
                    <mat-option [value]="1">
                        Activo
                    </mat-option>
                    <mat-option [value]="2">
                        Inactivo
                    </mat-option>

                </mat-select>
                <mat-error *ngIf="requiredDocumentForm.get('statusId')?.hasError('required')">
                    el estatus es requerido
                </mat-error>
            </mat-form-field>
        </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
              <div class="example-button-row">
                <button mat-raised-button color="primary" [disabled]="!requiredDocumentForm.valid"
                  (click)="confirmAdd()">Guardar</button>
                <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancelar</button>
              </div>
            </div>
          </div>
      </form>
    </div>
  </div>

