<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <!-- <img [src]='advanceTable.img' alt="avatar"> -->
        <div class="modal-about">
          {{dialogTitle}}
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
 
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="userForm" (ngSubmit)="submit">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput [value]="this.user.email" disabled="true">
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
            
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Contraseña actual</mat-label>
            <input matInput formControlName="currentPassword">
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
            <mat-error *ngIf="userForm.get('currentPassword')?.hasError('required')">
              la contraseña requerida
            </mat-error>
          </mat-form-field>
        </div>
        
       
      </div>
      <div class="row">
        <style>
          .floating-password-criteria {
            position: absolute;
            background-color: #f1f1f1;
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 15px;
            margin-top: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            z-index: 1000;
            width: 280px;
            font-size: 0.9em;
          }
        
          .floating-password-criteria ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
          }
        
          .floating-password-criteria li {
            margin-bottom: 8px;
            padding-left: 20px;
            position: relative;
          }
        
          .floating-password-criteria li::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: red; /* Color por defecto para indicación inválida */
          }
        
          .floating-password-criteria li.valid::before {
            background-color: green; /* Color para criterios válidos */
          }
        
          .floating-password-criteria li.invalid::before {
            background-color: red; /* Color para criterios inválidos */
          }
        </style>
        
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Nueva contraseña</mat-label>
            <input matInput formControlName="newPassword" (focus)="showPasswordCriteria = true" (blur)="showPasswordCriteria = false">
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
            <mat-error *ngIf="userForm.get('newPassword')?.hasError('required')">
              la nueva contraseña es requerida
            </mat-error>
          </mat-form-field>
          <div *ngIf="showPasswordCriteria && hasInvalidCriteria()" class="floating-password-criteria">
            <ul>
              <li *ngIf="!passwordValidations.hasUpperCase" class="invalid">Debe tener al menos una letra mayúscula.</li>
              <li *ngIf="!passwordValidations.hasLowerCase" class="invalid">Debe tener al menos una letra minúscula.</li>
              <li *ngIf="!passwordValidations.hasNumeric" class="invalid">Debe tener al menos un número.</li>
              <li *ngIf="!passwordValidations.hasSpecial" class="invalid">Debe tener al menos un carácter especial.</li>
              <li *ngIf="!passwordValidations.isValidLength" class="invalid">Debe tener al menos 8 caracteres.</li>
            </ul>
          </div>
        </div>
        
        
        
        
      
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Confirme contraseña</mat-label>
            <input matInput formControlName="confirmPassword">
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
            <mat-error *ngIf="userForm.get('confirmPassword')?.hasError('required')">
              confirmar contraseña es requerido
            </mat-error>
          </mat-form-field>
        </div>
        
       
      </div>
      <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <div class="example-button-row">
              <button mat-raised-button color="primary" [disabled]="!userForm.valid" 
                (click)="confirmAdd()">Guardar</button>
              <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancelar</button>
            </div>
          </div>
        </div>
    </form>
  </div>
</div>


  


