<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <div class="modal-about">
                    {{dialogTitle}}
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="_DegreeModalForms" (ngSubmit)="submit">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="name">
                        <mat-error *ngIf="_DegreeModalForms.get('name')?.hasError('required')">
                            El Nombre es requerido
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Descripción</mat-label>
                        <input matInput formControlName="description">
                        <mat-error *ngIf="_DegreeModalForms.get('description')?.hasError('required')">
                            Descripción es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>cantidad de créditos</mat-label>
                        <input matInput type="number" formControlName="numOfCredits">
                        <mat-error *ngIf="_DegreeModalForms.get('numOfCredits')?.hasError('required')">
                            la cantidad de créditos es requerido
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>duración de la carrera</mat-label>
                        <input matInput type="number" formControlName="durationInYears">
                        <mat-error *ngIf="_DegreeModalForms.get('durationInYears')?.hasError('required')">
                            El duración de la carrera es requerido
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Coordinador</mat-label>
                        <mat-select formControlName="assignedCoordinatorId">
                            <mat-option value="">--------------</mat-option>
                            <mat-option [value]="item.id" *ngFor="let item of _ListUser">{{item.firstName}} {{item.lastName}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="_DegreeModalForms.get('assignedCoordinatorId')?.hasError('required')">
                            Coordinadores requerida
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Modo de estudio</mat-label>
                        <mat-select formControlName="studyModeId">
                            <mat-option value="">--------------</mat-option>
                            <mat-option [value]="item.id" *ngFor="let item of _ListModeStudy">{{item.name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="_DegreeModalForms.get('studyModeId')?.hasError('required')">
                            Modo de estudio es requerida
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Perfil de Graduación</mat-label>
                        <textarea matInput formControlName="graduationProfile" cols="30" rows="2"></textarea>
                    </mat-form-field>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Perfil de admisión</mat-label>
                        <textarea matInput formControlName="admissionProfile" cols="30" rows="2"></textarea>
                    </mat-form-field>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Metas generales</mat-label>
                        <textarea matInput formControlName="generalGoals" cols="30" rows="2"></textarea>
                    </mat-form-field>
                </div>


                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2" *ngIf="data.action=='edit'">
                    <mat-form-field class="example-full-width " appearance="outline">
                        <mat-label>Estado</mat-label>
                        <mat-select formControlName="statusId">
                            <mat-option [value]="1">
                                Activo
                            </mat-option>
                            <mat-option [value]="2">
                                Inactivo
                            </mat-option>

                        </mat-select>
                        <mat-error *ngIf="_DegreeModalForms.get('statusId')?.hasError('required')">
                            el estatus es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <button mat-raised-button color="primary" [disabled]="!_DegreeModalForms.valid"
                            (click)="confirmAdd()">Guardar</button>
                        <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancelar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>