<section class="content">
    <div class="content-block">
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="'Actividad'" [items]="['Inicio','Admisión','Cronograma']"
                [active_item]="'Detalle Actividad'">
            </app-breadcrumb>
        </div>
        <div class="row clearfix" style="margin-bottom: 20px;text-align: right;">
            <div class="">
                <button matTooltip="Regresar" mat-raised-button color="accent" (click)="volverAtras()">
                    <mat-icon>keyboard_backspace</mat-icon> Regresar
                </button>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div #imageElement class="header" *ngIf="_ActivityService.loading===false">
                        <h2 class="text-uppercase">Detalle de Modulo del Plan de Estudio <strong>{{
                                _ActivityService._PlanStudyActivity.name }}
                            </strong>
                            <br>
                            Creación : {{ _ActivityDetailModules.createdDate | date:'dd/M/yyyy' }}

                        </h2>

                        <button class="boton_menu" [matMenuTriggerFor]="menu" matTooltip="Acciones" mat-raised-button
                            color="primary">
                            Acciones
                            <mat-icon>keyboard_arrow_down</mat-icon>
                        </button>
                    </div>
                    <div class=" body" *ngIf="_ActivityService.loading==false">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                <label for=""><strong>Nombre Modulo</strong></label>
                                <p>{{ _ActivityDetailModules.name }}</p>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                <label for=""><strong>Descripción</strong></label>
                                <p>{{ _ActivityDetailModules.description }}</p>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                <label for=""><strong>Horas Presenciales</strong></label>
                                <p>{{ _ActivityDetailModules.inPersonHours }}</p>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                <label for=""><strong> Horas Sincrónicas</strong></label>
                                <p>{{ _ActivityDetailModules.synchronousHours }}</p>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                <label for=""><strong> Horas Asincrónicas</strong></label>
                                <p>{{ _ActivityDetailModules.asynchronousHours }}</p>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                <label for=""><strong>Total Horas</strong></label>
                                <p>{{ _ActivityDetailModules.totalHours }}</p>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                <label for=""><strong>Valor Porcentual</strong></label>
                                <p>{{ _ActivityDetailModules.percentageValue }}</p>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                <label for=""><strong>Cita Bibliográfica</strong></label>
                                <div [innerHTML]="safeHtml(_ActivityDetailModules.bibliographicCitation)">

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <mat-accordion>
                                    <mat-expansion-panel (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false">
                                        <mat-expansion-panel-header
                                            style="background: #38366b;text-transform: uppercase;">
                                            <mat-panel-title style="color: white;">
                                                Actividades de Aprendizajes
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <div class="row">
                                            <div class="col-12">
                                                <div style="text-align: justify;margin-top: 10px;"
                                                    [innerHTML]="safeHtml(_ActivityDetailModules.learningStrategies)">
                                                </div>
                                            </div>
                                        </div>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>

                            <div class="col-lg-12">
                                <mat-accordion>
                                    <mat-expansion-panel (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false">
                                        <mat-expansion-panel-header
                                            style="background: #38366b;text-transform: uppercase;">
                                            <mat-panel-title style="color: white;">
                                                Objectivos de Aprendizajes
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <div class="row">
                                            <div class="col-12">
                                                <div style="text-align: justify;margin-top: 10px;"
                                                    [innerHTML]="safeHtml(_ActivityDetailModules.learningGoals)">
                                                </div>
                                            </div>
                                        </div>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>

                            <div class="col-lg-12">
                                <mat-accordion>
                                    <mat-expansion-panel (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false">
                                        <mat-expansion-panel-header
                                            style="background: #38366b;text-transform: uppercase;">
                                            <mat-panel-title style="color: white;">
                                                Competencias
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <div class="row">
                                            <div class="col-12">
                                                <div style="text-align: justify;margin-top: 10px;"
                                                    [innerHTML]="safeHtml(_ActivityDetailModules.competencies)">
                                                </div>
                                            </div>
                                        </div>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                            <div class="col-lg-12">
                                <mat-accordion>
                                    <mat-expansion-panel (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false">
                                        <mat-expansion-panel-header
                                            style="background: #38366b;text-transform: uppercase;">
                                            <mat-panel-title style="color: white;">
                                                SubTemas
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <div class="row">
                                            <div class="col-12">
                                                <div style="text-align: justify;margin-top: 10px;"
                                                    [innerHTML]="safeHtml(_ActivityDetailModules.subTopics)">
                                                </div>
                                            </div>
                                        </div>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                            <div class="col-lg-12">
                                <mat-accordion>
                                    <mat-expansion-panel (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false">
                                        <mat-expansion-panel-header
                                            style="background: #38366b;text-transform: uppercase;">
                                            <mat-panel-title style="color: white;">
                                                Estrategia Metodológica
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <div class="row">
                                            <div class="col-12">
                                                <div style="text-align: justify;margin-top: 10px;"
                                                    [innerHTML]="safeHtml(_ActivityDetailModules.methodologicalStrategy)">
                                                </div>
                                            </div>
                                        </div>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                            <div class="col-lg-12">
                                <mat-accordion>
                                    <mat-expansion-panel (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false">
                                        <mat-expansion-panel-header
                                            style="background: #38366b;text-transform: uppercase;">
                                            <mat-panel-title style="color: white;">
                                                Recursos Didactivos
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <div class="row">
                                            <div class="col-12">
                                                <div style="text-align: justify;margin-top: 10px;"
                                                    [innerHTML]="safeHtml(_ActivityDetailModules.teachingResources)">
                                                </div>
                                            </div>
                                        </div>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                            <div class="col-lg-12">
                                <mat-accordion>
                                    <mat-expansion-panel (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false">
                                        <mat-expansion-panel-header
                                            style="background: #38366b;text-transform: uppercase;">
                                            <mat-panel-title style="color: white;">
                                                Evaluación
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <div class="row">
                                            <div class="col-12">
                                                <div style="text-align: justify;margin-top: 10px;"
                                                    [innerHTML]="safeHtml(_ActivityDetailModules.evaluation)">
                                                </div>
                                            </div>
                                        </div>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                        </div>
                    </div>

                    <mat-progress-bar mode="indeterminate" *ngIf="_ActivityService.loading==true"></mat-progress-bar>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="header">
                    <h2 class="text-uppercase"><strong>Criterios de Evaluación</strong>

                        <button (click)="AddCriterios()" matTooltip="Agregar Criterios de Evaluación"
                            style="position: absolute;right: 5px;top: 5px;" mat-mini-fab color="primary">
                            <mat-icon>add</mat-icon>
                        </button>
                    </h2>
                </div>
                <div class="body">
                    <div class="body table-responsive">
                        <table mat-table [dataSource]="dataCriterio" class="w-100">
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                                <td mat-cell *matCellDef="let element">{{ element.name }} </td>
                            </ng-container>
                            <ng-container matColumnDef="descripcion">
                                <th mat-header-cell *matHeaderCellDef> Descripción</th>
                                <td mat-cell *matCellDef="let element">{{ element.description }} </td>
                            </ng-container>
                            <ng-container matColumnDef="accion">
                                <th mat-header-cell *matHeaderCellDef> Acción </th>
                                <td mat-cell *matCellDef="let element">
                                    <button (click)="editarCriterio(element)" mat-mini-fab color="primary"
                                        matTooltip="Editar Criterio">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button (click)="deleteCriterio(element)" mat-mini-fab color="accent"
                                        matTooltip="Eliminar">
                                        <mat-icon>restore_from_trash</mat-icon>
                                    </button>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="DisplayNameCompetence"></tr>
                            <tr mat-row *matRowDef="let row; columns: DisplayNameCompetence;"></tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[2, 10, 20]" showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <mat-menu #menu="matMenu">
        <button mat-menu-item matTooltip="Editar Modulo" color="accent" (click)="EditarModulo()">
            <mat-icon>edit</mat-icon> Editar Actividad.
        </button>

    </mat-menu>
</section>