.auth-container {
    height: 85%;
    width: 85%;
    margin: 5%;
    margin-inline: auto;
    
    }
    
    .auth-container .auth-main {

         min-height: 0px !important; 
    }
    
    .left-img {

        padding: 0px 0px !important;;
        
    }
    
    .auth-form-section {
       
        border-radius: 0px 27px 27px 0px!important;
    }