<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          {{dialogTitle}}
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="_Forms" (ngSubmit)="submit">
      <div class="row">

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Unidad</mat-label>
            <input matInput formControlName="unitId">
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
            <mat-error *ngIf="_Forms.get('unitId')?.hasError('required')">
              Campo requerido
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Teléfono</mat-label>
            <input matInput formControlName="telephone">
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
            <mat-error *ngIf="_Forms.get('telephone')?.hasError('required')">
              Campo requerido
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Descripción</mat-label>
            <input matInput formControlName="descripcion">
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
            <mat-error *ngIf="_Forms.get('descripcion')?.hasError('required')">
              Campo requerido
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Número DAA</mat-label>
            <input matInput formControlName="daa_Number">
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
            <mat-error *ngIf="_Forms.get('daa_Number')?.hasError('required')">
              Campo requerido
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Numero de Uso Solicitante</mat-label>
            <input matInput formControlName="numeroUsoSolicitante">
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
            <mat-error *ngIf="_Forms.get('numeroUsoSolicitante')?.hasError('required')">
              Campo requerido
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Numero de Revisión</mat-label>
            <input matInput formControlName="numeroRevision">
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
            <mat-error *ngIf="_Forms.get('numeroRevision')?.hasError('required')">
              Campo requerido
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Nombre de Solicitante</mat-label>
            <input matInput formControlName="nombreSolicitante">
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
            <mat-error *ngIf="_Forms.get('nombreSolicitante')?.hasError('required')">
              Campo requerido
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Bienes</mat-label>
            <mat-select  formControlName="bienes" >
              <mat-option value="1">SI</mat-option>
              <mat-option value="2">NO</mat-option>
            </mat-select>
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
            <mat-error *ngIf="_Forms.get('bienes')?.hasError('required')">
              Campo requerido
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Servicios</mat-label>
            <mat-select  formControlName="service" >
              <mat-option value="1">SI</mat-option>
              <mat-option value="2">NO</mat-option>
            </mat-select>
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
            <mat-error *ngIf="_Forms.get('service')?.hasError('required')">
              Campo requerido
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Obras</mat-label>
            <mat-select  formControlName="obras" >
              <mat-option value="1">SI</mat-option>
              <mat-option value="2">NO</mat-option>
            </mat-select>
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
            <mat-error *ngIf="_Forms.get('obras')?.hasError('required')">
              Campo requerido
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Categoria</mat-label>
            <mat-select  formControlName="codigoId" >
              <mat-option  *ngFor="let grado of category"  [value]="grado.categoria_Id">{{grado.descripcion}}</mat-option>
            </mat-select>
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
            <mat-error *ngIf="_Forms.get('codigoId')?.hasError('required')">
              Campo requerido
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Period</mat-label>
            <mat-select  formControlName="periodoContableId" >
              <mat-option  *ngFor="let obj of this.periodos"  [value]="obj.periodoId">{{obj.descripcion}}</mat-option>
            </mat-select>
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
            <mat-error *ngIf="_Forms.get('periodoContableId')?.hasError('required')">
              Campo requerido
            </mat-error>
          </mat-form-field>
        </div>



      </div>

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-raised-button color="primary" [disabled]="!_Forms.valid"
                    (click)="confirmAdd()">Guardar</button>
            <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancelar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
