<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'Listado de Meses de Periodos'" [items]="['Inicio','Tesorería']"
          [active_item]="'Listado de Meses de Periodos'">
        </app-breadcrumb>
        <div class="row clearfix" style="margin-bottom: 20px;text-align: right;">
          <div class="">
              <button matTooltip="Regresar" mat-raised-button color="accent" (click)="volverAtras()">
                  <mat-icon>keyboard_backspace</mat-icon> Regresar
              </button>
          </div>
      </div>
      </div>
      <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="card">
            <div class="header">
              <h2 class="text-uppercase"><strong>Listado de Listado de Meses de Periodos</strong></h2>
            </div>
            <div class="body">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="card">
                    <div class="materialTableHeader">
                      <div class="left">
                        <ul class="header-buttons-left ms-0">
                          <li class="tbl-title">
                            <h2>Listado de Meses de Periodos</h2>
                          </li>
                          <li class="tbl-search-box">
                            <label for="search-input"><i class="material-icons search-icon">search</i></label>
                            <input placeholder="Buscar" type="text" (keyup)="filtrar($event)" #filter
                              class="browser-default search-field" aria-label="Search box">
                          </li>
                        </ul>
                      </div>
                      <div class="right">
                        <ul class="tbl-export-btn">
                          <li class="tbl-header-btn">
                            <div class="m-l-10" matTooltip="NUEVA BOLETA">
                              <button matTooltip="AGREGAR NUEVA BOLETA" mat-mini-fab color="primary"
                                (click)="addNew()" class="tbl-action-btn">
                                <app-feather-icons [icon]="'plus'"></app-feather-icons>
                              </button>
                            </div>
                          </li>
                          <li class="tbl-header-btn">
                            <div class="m-l-10" matTooltip="ACTUALIZAR">
                              <button mat-mini-fab color="primary" (click)="refresh()">
                                <mat-icon class="col-white">refresh</mat-icon>
                              </button>
                            </div>
                          </li>
                          <li>
                            <div class="export-button m-l-10" matTooltip="XLSX">
                              <img src="assets/images/icons/xlsx.png" alt="" (click)="exportExcel()" />
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="body overflow-auto">
                      <div class="responsive_table">
                        <table mat-table [dataSource]="dataSource" matSort matSort (matSortChange)="sortData($event)"
                          class="mat-cell advance-table">
                          <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Periodo
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                              <span class="mobile-label">Periodo:</span>{{row.name}}</mat-cell>
                          </ng-container>
                           
                          <ng-container matColumnDef="descipcion">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Descripción
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                              <span class="mobile-label">Descripción:</span>{{row.description}}</mat-cell>
                          </ng-container>
                          <ng-container matColumnDef="status">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Estado
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                              <div *ngIf="row.statusId===0" class="badge badge-solid-red">
                                Inactivo
                              </div>
                              <div *ngIf="row.statusId===1" class="badge badge-solid-green">
                                Activo
                              </div>
                            </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="actions">
                            <mat-header-cell class="pr-0" *matHeaderCellDef>Acciones</mat-header-cell>
                            <mat-cell *matCellDef="let row; let i=index;" class="pr-0">
                              <button Tooltip="Editar" mat-mini-fab color="warn" (click)="$event.stopPropagation()"
                                (click)="open(row)">
                                <app-feather-icons [icon]="'check-square'"></app-feather-icons>
                              </button>
                              <button (click)="view(row)" matTooltip="Agregar Detalle" mat-mini-fab color="primary">
                                <mat-icon>remove_red_eye</mat-icon>
                              </button>
                              <button (click)="delete(row)" matTooltip="Eliminar" mat-mini-fab color="warn">
                                <mat-icon>delete</mat-icon>
                              </button>

                            </mat-cell>
                          </ng-container>
                          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: displayedColumns;" [style.cursor]="'pointer'" matRipple>
                          </mat-row>
                        </table>
                      </div>
                      <div *ngIf="IsLoading" class="tbl-spinner">
                        <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                        </mat-progress-spinner>
                      </div>
                      <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]">
                      </mat-paginator>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  