<section class="content">
    <div class="content-block">
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="'Detalle de Plan'" [items]="['Inicio','Admisión','Formación Especializada']"
                [active_item]="'Detalle de Plan'">
            </app-breadcrumb>
        </div>
        <div class="row clearfix" style="margin-bottom: 20px;text-align: right;">
            <div>
                <button matTooltip="Regresar" mat-raised-button color="accent" (click)="volverAtras()">
                    <mat-icon>keyboard_backspace</mat-icon> Regresar
                </button>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div #imageElement class="header">
                        <h2 class="text-uppercase">Detalle del Plan Anual</h2>
                        <button matTooltip="Regresar" mat-raised-button color="primary" (click)="generarConvocatoria()">
                            <mat-icon>autorenew</mat-icon> Generar Convocatoria
                        </button>
                    </div>
                    <!-- <div class="body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <h6>Fecha de inicio</h6>
                                <label for="">{{ _CreateCurriculumDesign.startDate | date:'dd/M/yyyy' }}</label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <h6>Fecha Fin</h6>
                                <label for="">{{ _CreateCurriculumDesign.endDate | date:'dd/M/yyyy' }}</label>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2 class="text-uppercase"><strong>Listado de Mallas Curriculares</strong>
                            <button (click)="AddMallas()" matTooltip="Agregar Malla Curricular"
                                style="position: absolute;right: 5px;top: 5px;" mat-mini-fab color="primary">
                                <mat-icon>add</mat-icon>
                            </button>
                        </h2>
                    </div>
                    <div class="body">
                        <div class="body table-responsive">
                            <table mat-table [dataSource]="dataDegreeCurriculum" class="w-100">
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                                    <td mat-cell *matCellDef="let element">{{ element.name }} </td>
                                </ng-container>
                                <ng-container matColumnDef="descripcion">
                                    <th mat-header-cell *matHeaderCellDef> Descripción</th>
                                    <td mat-cell *matCellDef="let element">{{ element.description }} </td>
                                </ng-container>
                                <ng-container matColumnDef="fechas">
                                    <th mat-header-cell *matHeaderCellDef> Fecha Vigencia </th>
                                    <td mat-cell *matCellDef="let element">{{ element.startDate | date:'dd/M/yyyy'}} -
                                        {{ element.endDate | date:'dd/M/yyyy'}}</td>
                                </ng-container>
                                <ng-container matColumnDef="Estado">
                                    <th mat-header-cell *matHeaderCellDef> Estado </th>
                                    <td mat-cell *matCellDef="let element">{{ element.statusId |statusPipe }} </td>
                                </ng-container>
                                <ng-container matColumnDef="accion">
                                    <th mat-header-cell *matHeaderCellDef> Acción </th>
                                    <td mat-cell *matCellDef="let element">
                                        <button (click)="deleteMallaCurricular(element)" mat-mini-fab color="primary"
                                            matTooltip="Desvincular Malla Curricular">
                                            <mat-icon>refresh</mat-icon>
                                        </button>
                                        <button (click)="detalleGeneral(element)" mat-mini-fab color="accent"
                                            matTooltip="Ver Malla Curricular">
                                            <mat-icon>visibility</mat-icon>
                                        </button>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="DisplayNameCurriculares"></tr>
                                <tr mat-row *matRowDef="let row; columns: DisplayNameCurriculares;"></tr>
                            </table>
                            <mat-paginator #ListadoMallaCurriculares [pageSizeOptions]="[10, 20, 30]"
                                showFirstLastButtons></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
            <button (click)="enviarAprobacion()" *ngIf="_AnnualPlanService._AnnualPlan.statusId==7" mat-raised-button
                color="primary">
                <mat-icon>send</mat-icon> Enviar Aprobación</button>
        </div>
    </div>
</section>