<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'firma'" [items]="['Inicio','Admisión','Maestros']"
          [active_item]="'Firma'">
        </app-breadcrumb>
      </div>
      <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="card">
            <div class="header">
              <h2 class="text-uppercase"><strong>Firma</strong></h2>
            </div>
            <div class="body">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="card">
                  
                    <div class="body overflow-auto">
                      <div class="responsive_table">
                        <form class="register-form m-4" [formGroup]="PosterForm" (ngSubmit)="submit">
                            <div class="row clearfix">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="card">
                                        <div class="row">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                                <mat-label>Cargar firma</mat-label>
                                                <app-file-upload (change)="onFileSelected($event)" formControlName="CertificateSignature"></app-file-upload>
                                                <div  style="text-align:right;" >
                                                    <button (click)="viewDocumento()" [disabled]="!PosterForm.valid" matTooltip="Ver Documento" mat-mini-fab
                                                    color="primary">
                                                    <mat-icon>remove_red_eye</mat-icon>
                                                </button>
                                                  </div>
                                                <!-- <span style="font-size: 12px;color: brown;font-weight: bold;">PDF</span> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button mat-raised-button color="primary" [disabled]="!PosterForm.valid"
                                    (click)="submit()">Guardar</button>
                            </div>
                        </form>
                      </div>
                  
                  
                      <mat-menu #nestedmenu="matMenu">
                        <button mat-menu-item>
                          <mat-icon>mail_outline</mat-icon>
                          <span>Item 1</span>
                        </button>
                        <button mat-menu-item>
                          <mat-icon>call</mat-icon>
                          <span>Item 2</span>
                        </button>
                        <button mat-menu-item>
                          <mat-icon>chat</mat-icon>
                          <span>Item 3</span>
                        </button>
                      </mat-menu>
                      <!-- context menu end -->
               
                   
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
