<section class="content">
    <div class="content-block">
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="'Docente'" [items]="['Inicio','Gestion Docente','Docente']"
                [active_item]="'Detalle del docente'">
            </app-breadcrumb>
        </div>
 
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div  class="header row">
                   
                      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3" style="text-align: left;">
                        <h2 class="text-uppercase">{{header}}</h2>
                      </div>
                      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2" style="text-align: left;">
                        <span class="badge badge-solid-green">{{DataTeacher.selected?"Seleccionado":"Pre-seleccionado" }}</span>
                       </div>
                      
                      <div class="col-lg-7 col-md-7 col-sm-7 col-7" style="text-align: right;"> 
                      <h2><span>Fecha de aplicación:{{cedula==="-1"?fechaA:DataTeacher.applicationDate | date:'dd/M/yyyy'}}</span></h2>
                      </div>
                    
                    </div>
                        <form class="register-form m-4" [formGroup]="teacherForm" (ngSubmit)="submit()">
                        <div class="row">
                          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            <mat-form-field class="example-full-width " appearance="outline">
                              <mat-label>Cedula</mat-label>
                            <input matInput formControlName="cedula">
                            
                              <mat-error *ngIf="teacherForm.get('cedula')?.hasError('required')">
                                la cedula es requerida
                              </mat-error>
                            </mat-form-field>
                          
                          </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                                <mat-form-field class="example-full-width " appearance="outline">
                                  <mat-label>Nombre</mat-label>
                                <input matInput formControlName="name">
                                
                                  <mat-error *ngIf="teacherForm.get('name')?.hasError('required')">
                                    el nombre es requerido
                                  </mat-error>
                                </mat-form-field>
                              
                              </div>
                              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                                <mat-form-field class="example-full-width " appearance="outline">
                                  <mat-label>Apellido</mat-label>
                                <input matInput formControlName="lastName">
                                
                                  <mat-error *ngIf="teacherForm.get('lastName')?.hasError('required')">
                                    el apellido es requerido
                                  </mat-error>
                                </mat-form-field>
                              
                              </div>
                        </div>
                        
                        <div class="row">
                              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                                <mat-form-field class="example-full-width " appearance="outline">
                                  <mat-label>Lugar de residencia</mat-label>
                                <input matInput formControlName="placeResidence">
                                
                                  <mat-error *ngIf="teacherForm.get('placeResidence')?.hasError('required')">
                                    el lugar de residencia es requerido
                                  </mat-error>
                                </mat-form-field>
                              
                              </div>
                              
                              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                                <mat-form-field class="example-full-width " appearance="outline">
                                  <mat-label>Email</mat-label>
                                <input matInput formControlName="email">
                                
                                  <mat-error *ngIf="teacherForm.get('email')?.hasError('required')">
                                    el email es requerido
                                  </mat-error>
                                </mat-form-field>
                              
                              </div>
                
                        </div>

                        <div class="row">
                            <div class="col-6">
                             
                                <button type="submit" [disabled]="!teacherForm.valid"   matTooltip="Guardar docente" mat-raised-button color="accent">
                                    <mat-icon>save</mat-icon> Guardar
                                </button> 
                            </div>
                            
                            <div class="col-6 ">
                             
                                  <button style="margin-bottom: 20px;text-align: right;" matTooltip="Regresar" mat-raised-button color="accent"
                                  (click)="Regresar()" >
                                      <mat-icon>keyboard_backspace</mat-icon> Regresar
                                  </button>
                           
                          </div>
                            
                        </div>

                        </form>
                    <!-- <mat-progress-bar mode="indeterminate" *ngIf="_ActivityService.loading==true"></mat-progress-bar> -->
                </div>
            </div>
      
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="card">
                  <div class="header">
                      <h2 class="text-uppercase"><strong>Experiencia Profesional</strong>

                      <button (click)="AddExperience()"  matTooltip="Agregar experiencia" style="position: absolute;right: 5px;top: 5px;" mat-mini-fab color="primary">
                          <mat-icon>add</mat-icon>
                      </button>
                  </h2>
                  </div>
                  <div class="body" >
                      <div class="body table-responsive">
                          <table mat-table [dataSource]="DataTeacher.listExperience" class="w-100">
                              <!-- Id Column -->
                              <ng-container matColumnDef="experienceId">
                                  <th mat-header-cell *matHeaderCellDef> Id</th>
                                  <td mat-cell *matCellDef="let element"> {{ element.experienceId}}</td>
                              </ng-container>
                              <ng-container matColumnDef="description">
                                <th mat-header-cell *matHeaderCellDef> Descripción </th>
                                <td mat-cell *matCellDef="let element">{{ element.description }} </td>
                            </ng-container>
                              <ng-container matColumnDef="position">
                                  <th mat-header-cell *matHeaderCellDef> Cargo </th>
                                  <td mat-cell *matCellDef="let element">{{ element.position }} </td>
                              </ng-container>
                              
                              <ng-container matColumnDef="startDate">
                                <th mat-header-cell *matHeaderCellDef> Fecha Inicio </th>
                                <td mat-cell *matCellDef="let element">{{ element.startDate | date:'dd/M/yyyy' }} </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="endDate">
                              <th mat-header-cell *matHeaderCellDef> Fecha fin </th>
                              <td mat-cell *matCellDef="let element">{{ element.endDate | date:'dd/M/yyyy' }} </td>
                          </ng-container>
                              <!-- Acción Column -->
                              <ng-container matColumnDef="actions">
                                  <th mat-header-cell *matHeaderCellDef> Acción </th>
                                  <td mat-cell *matCellDef="let element">  
                                      <button (click)="RemoveExperience(element)" mat-mini-fab color="accent" matTooltip="Eliminar">
                                          <mat-icon>restore_from_trash</mat-icon>
                                      </button>
                                  </td>
                              </ng-container>
                              <tr mat-header-row *matHeaderRowDef="displayedColumnsExperience"></tr>
                              <tr mat-row *matRowDef="let row; columns: displayedColumnsExperience;"></tr>
                          </table>
                          <mat-paginator #paginator [pageSizeOptions]="[2, 10, 20]" showFirstLastButtons></mat-paginator>
                      </div>
                  </div>
                  <!-- <mat-progress-bar mode="indeterminate" ></mat-progress-bar> -->
              </div>
          </div>
         
            
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2 class="text-uppercase"><strong>Formaciones</strong>

                        <button (click)="AddTraining()"  matTooltip="Agregar formación" style="position: absolute;right: 5px;top: 5px;" mat-mini-fab color="primary">
                            <mat-icon>add</mat-icon>
                        </button>
                    </h2>
                    </div>
                    <div class="body">
                        <div class="body table-responsive" *ngIf="DataTeacher">
                            <table mat-table [dataSource]="DataTeacher.listTraining" class="w-100">
                                <!-- Id Column -->
                                <ng-container matColumnDef="trainingId">
                                    <th mat-header-cell *matHeaderCellDef> Id</th>
                                    <td mat-cell *matCellDef="let element"> {{ element.trainingId }}</td>
                                </ng-container>
                               
                                <ng-container matColumnDef="institution">
                                    <th mat-header-cell *matHeaderCellDef>Institución </th>
                                    <td mat-cell *matCellDef="let element">{{ element.institution }} </td>
                                </ng-container>
                                
                                <ng-container matColumnDef="completionDate">
                                  <th mat-header-cell *matHeaderCellDef>Fecha de culminación</th>
                                  <td mat-cell *matCellDef="let element">{{ element.completionDate | date:'dd/M/yyyy' }} </td>
                              </ng-container>
                              
                              <ng-container matColumnDef="degreeDate">
                                <th mat-header-cell *matHeaderCellDef>Fecha de grado</th>
                                <td mat-cell *matCellDef="let element">{{ element.degreeDate | date:'dd/M/yyyy' }} </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="degreeObtained">
                              <th mat-header-cell *matHeaderCellDef>Titulo obtenido</th>
                              <td mat-cell *matCellDef="let element">{{ element.degreeObtained }} </td>
                          </ng-container>
                              
                              <ng-container matColumnDef="city">
                                <th mat-header-cell *matHeaderCellDef>Ciudad </th>
                                <td mat-cell *matCellDef="let element">{{ element.city }} </td>
                            </ng-container>
                                <!-- Acción Column -->
                                <ng-container matColumnDef="actions">
                                    <th mat-header-cell *matHeaderCellDef> Acción </th>
                                    <td mat-cell *matCellDef="let element">  
                                        <button (click)="removeTraining(element)" mat-mini-fab color="accent" matTooltip="Eliminar">
                                            <mat-icon>restore_from_trash</mat-icon>
                                        </button>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumnsTraining"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumnsTraining;"></tr>
                            </table>
                            <mat-paginator #paginator [pageSizeOptions]="[2, 10, 20]" showFirstLastButtons></mat-paginator>
                        </div>
                    </div>
                    <!-- <mat-progress-bar mode="indeterminate" ></mat-progress-bar> -->
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="card">
                  <div class="header">
                      <h2 class="text-uppercase"><strong>Documentos</strong>

                      <button (click)="AddTraining()"  matTooltip="Agregar formación" style="position: absolute;right: 5px;top: 5px;" mat-mini-fab color="primary">
                          <mat-icon>add</mat-icon>
                      </button>
                  </h2>
                  </div>
                  <div class="body">
                    <form [formGroup]="documentForm">
                    <ng-template>Documentos</ng-template>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-3">
                            <mat-label style="font-weight: bold;">Documento de Identidad</mat-label>
                            <app-file-upload   formControlName="Photo" ></app-file-upload>
                        </div>
                        
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-3">
                            <mat-label style="font-weight: bold;">Fotografía</mat-label>
                            <app-file-upload (change)="onFileSelected($event)" formControlName="CIP" ></app-file-upload>
                        </div>
                        
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-3">
                            <mat-label style="font-weight: bold;">Titulo</mat-label>
                            <app-file-upload formControlName="Title" ></app-file-upload>
                        </div>
                        
                        
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-3">
                            <mat-label style="font-weight: bold;">CV</mat-label>
                            <app-file-upload   formControlName="CV" ></app-file-upload>
                        </div>
                        
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-3">
                            <mat-label style="font-weight: bold;">Carta Aval</mat-label>
                            <app-file-upload formControlName="LetterAval" ></app-file-upload>
                        </div>
                    </div>
                    </form>
                  </div>
                  <!-- <mat-progress-bar mode="indeterminate" ></mat-progress-bar> -->
              </div>
          </div>
          
            
           
        </div>
    </div>
</section>