<div class="addContainer">
    <div class="modalHeader">
      <div class="editRowModal">
        <div class="modalHeader clearfix">
          <div class="modal-about">
            {{dialogTitle}}
          </div>
        </div>
      </div>
      <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div mat-dialog-content>
        <table mat-table [dataSource]="dataSource">


            <!-- <ng-container matColumnDef="extension">
                <mat-header-cell *matHeaderCellDef> Extension </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.extension }} </mat-cell>
              </ng-container> -->
            
            
              <ng-container matColumnDef="by">
                <mat-header-cell *matHeaderCellDef> Creado por </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.by }} </mat-cell>
              </ng-container>
            
              <ng-container matColumnDef="lastModifiedDate">
                <mat-header-cell *matHeaderCellDef> Fecha de modificación </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.lastModifiedDate===null?(element.createdDate |
                  date:'dd/M/yyyy'
                ):element.lastModifiedDate |
                  date:'dd/M/yyyy'}} </mat-cell>
              </ng-container>
              
              <ng-container matColumnDef="createdDate">
                <mat-header-cell *matHeaderCellDef> Fecha de creación</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.createdDate |
                  date:'dd/M/yyyy' }} </mat-cell>
              </ng-container>
            
          
            <ng-container matColumnDef="changeType">
              <mat-header-cell *matHeaderCellDef> Tipo de cambio </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{ element.changeType }} </mat-cell>
            </ng-container>
          
            <ng-container *ngIf="data.action==='file'" matColumnDef="fileName">
              <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{ element.fileName}} </mat-cell>
            </ng-container>
            
            <ng-container  *ngIf="data.action!=='file'" matColumnDef="folderName">
              <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.folderName}} </mat-cell>
            </ng-container>
          
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </table>
    </div>
  </div>
  


