<section class="content">
    <div class="content-block">
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="'Tipo de Contrato'" [items]="['Inicio','Bolsa de Trabajo']"
                [active_item]="'Listado de Tipos de Contrato'">
            </app-breadcrumb>
        </div>
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2 class="text-uppercase">Listado de Tipo de Contratos</h2>
                    </div>
                    <div class="body">
                        <div class="body table-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>