<div class="addContainer">
  <div class="modalHeader">
      <div class="editRowModal">
          <div class="modalHeader clearfix">
              <div class="modal-about">
                  {{dialogTitle}}
              </div>
          </div>
      </div>
      <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
          <mat-icon>close</mat-icon>
      </button>
  </div>
  <div mat-dialog-content>
      <form class="register-form m-4" [formGroup]="form">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
              <mat-progress-bar mode="indeterminate" *ngIf="IsLoading"></mat-progress-bar>
            </div>
            <div  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Fecha de inicio</mat-label>
                <input matInput formControlName="fechaInicio" [matDatepicker]="fechaInicio" (dateChange)="validDate()">
                <mat-datepicker-toggle matSuffix [for]="fechaInicio"></mat-datepicker-toggle>
                <mat-datepicker #fechaInicio></mat-datepicker>
                <mat-error *ngIf="form.get('fechaInicio')?.hasError('required')">
                  La fecha de inicio es requerido
                </mat-error>
              </mat-form-field>
            </div>
            <div  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Fecha de Fin</mat-label>
                <input matInput formControlName="fechaFin"  [matDatepicker]="fechaFin" (dateChange)="validDate()">
                <mat-datepicker-toggle matSuffix [for]="fechaFin"></mat-datepicker-toggle>
                <mat-datepicker #fechaFin></mat-datepicker>
                <mat-error *ngIf="form.get('fechaFin')?.hasError('required')">
                  La fecha de Fin es requerido
                </mat-error>
              </mat-form-field>
            </div>


            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Descripción</mat-label>
                      <input matInput formControlName="descripcion">
                      <mat-error *ngIf="form.get('descripcion')?.hasError('required')">
                        La descripción es requerido
                      </mat-error>
                  </mat-form-field>
              </div>

              <div class="col-xl-12 col-lg-6 col-md-12 col-sm-12 mb-2" *ngIf="this.action==='edit'">
                  <mat-form-field class="example-full-width " appearance="outline">
                      <mat-label>Estado</mat-label>
                      <mat-select formControlName="statusId">
                          <mat-option [value]="1">
                              Activo
                          </mat-option>
                          <mat-option [value]="2">
                              Inactivo
                          </mat-option>
                      </mat-select>
                      <mat-error *ngIf="form.get('statusId')?.hasError('required')">
                          el estatus es requerido
                      </mat-error>
                  </mat-form-field>
              </div>

          </div>

          <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <div class="example-button-row">
                      <button mat-raised-button color="primary" [disabled]="!form.valid"
                          (click)="confirmAdd()">Guardar</button>
                      <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancelar</button>
                  </div>
              </div>
          </div>
      </form>
  </div>
</div>


