<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Foro'" [items]="['Home','Apoyo']" [active_item]="'Foro'">
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <!-- Basic Examples -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Foro</strong>
              <small>Temas Abiertos por estudiantes o Egresados.</small>
            </h2>
            <button *ngIf="rolId == rolIdEstudiante"  (click)="new()" style="position: absolute;right: 15px;" matTooltip="Agregar Nueva Conversación"
              mat-mini-fab color="primary">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <div class="body">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="card">
                <div class="body">
                  <fieldset>
                    <div class="row">
                      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>Categoría</mat-label>
                          <mat-select [(ngModel)]="IdCategory">
                            <mat-option *ngFor="let row of _CategortForos._Response.getCategoriesResponse"
                              [value]="row.categorieId">{{row.name}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <button mat-raised-button color="primary" (click)="submit()"><mat-icon>search</mat-icon>
                            Buscar</button>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="row">
                <ng-container *ngFor="let item of Foros">
                  <div style="cursor: pointer;" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cursos">
                    <mat-card (click)="ir(item)">
                      <mat-card-header>
                        <!-- <img mat-card-avatar src="assets/images/user/user2.jpg"> -->
                        <mat-card-title class="titulo">{{ item.title }}</mat-card-title>

                      </mat-card-header>
                      <!-- <img mat-card-image src="assets/images/image-gallery/2.jpg"> -->
                      <mat-card-content>
                        <div style="text-align: justify;margin: 20px" [innerHTML]="safeHtml(item.description)">
                        </div>
                        <br>
                        <p class="badge badge-solid-brown">{{item.categoriesName}}</p>
                        <p class="badge badge-solid-blue">{{item.createdDate|
                          date:'dd/M/yyyy'}}</p>
                      </mat-card-content>
                    </mat-card>
                  </div>
                </ng-container>
                <div *ngIf="Foros == null">
                  <p style="text-transform: uppercase;text-align: center;font-size: 20px;" class="badge-solid-red">
                    <mat-icon>find_replace</mat-icon> No se encontraron registros.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- #END# Basic Examples -->
    </div>
  </div>
</section>