.titulo {
    font-size: 15px;
    text-transform: uppercase;
    color: #353b5f;
    font-weight: bold;
}

.empresa {
    text-transform: uppercase;
    color: #353b5f;
}

.cursos:hover {
    box-shadow: 1px 1px 20px 0px #c5c5c5;
}