<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Historial Docente'" [items]="['Inicio','Gestión Docente']"
        [active_item]="'Historial docente'">
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div>


            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-6" style="margin: auto;margin-top: 15px;">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Proceso</mat-label>
                <!-- <input matInput formControlName="degreeObtained" > -->

                <mat-select [(ngModel)]="selectedOption" (selectionChange)="viewTable(selectedOption)">
                  <mat-option *ngFor="let grado of processList" [value]="grado.id">{{grado.name}}</mat-option>
                </mat-select>


              </mat-form-field>
            </div>
          </div>
          <div class="header">
            <h2 class="text-uppercase"><strong>Historial docentes</strong></h2>
          </div>
          <div class="body">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                  <div class="materialTableHeader">
                    <div class="left">
                      <ul class="header-buttons-left ms-0">
                        <li class="tbl-title">
                          <h2>Docentes</h2>
                        </li>
                        <li class="tbl-search-box">
                          <label for="search-input"><i class="material-icons search-icon">search</i></label>
                          <input placeholder="Buscar" type="text" #filter class="browser-default search-field"
                            aria-label="Search box">
                        </li>
                      </ul>
                    </div>
                    <div class="right">
                      <ul class="tbl-export-btn">


                        <li>
                          <div class="export-button m-l-10" matTooltip="XLSX">
                            <img src="assets/images/icons/xlsx.png" alt="" />
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="body overflow-auto">
                    <div class="responsive_table">
                      <table *ngIf="view" mat-table [dataSource]="DataSubjects" matSort class="mat-cell advance-table">


                        <ng-container matColumnDef="name">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Asignatura
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row">
                            <span class="mobile-label">Asignatura:</span>{{row.name}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="numOfCredits">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Creditos
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row">
                            <span class="mobile-label">Creditos:</span>{{row.numOfCredits}}</mat-cell>
                        </ng-container>


                        <ng-container matColumnDef="numOfHours">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Horas
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row">
                            <span class="mobile-label">Horas:</span>{{row.numOfHours}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="numOfClasses">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>clases
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row">
                            <span class="mobile-label">clases:</span>{{row.numOfClasses}}</mat-cell>
                        </ng-container>


                        <ng-container matColumnDef="hasLaboratory">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Laboratorio
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row">
                            <span
                              class="mobile-label">Laboratorio:</span>{{row.hasLaboratory===true?"Si":"No"}}</mat-cell>
                        </ng-container>

                        <!-- actions -->
                        <ng-container matColumnDef="actions">
                          <mat-header-cell class="pr-0" *matHeaderCellDef>Acciones</mat-header-cell>
                          <mat-cell *matCellDef="let row; let i=index;" class="pr-0">


                            <button *ngIf="typeUser === 'Profesor'" mat-mini-fab color="primary"
                              matTooltip="Ver Detalle" (click)="$event.stopPropagation()" (click)="Detail(row)"
                              class="tbl-action-btn">
                              <mat-icon>remove_red_eye</mat-icon>

                            </button>
                            <button *ngIf="typeUser === 'Profesor'" mat-mini-fab color="primary"
                              (click)="$event.stopPropagation()" matTooltip="Ingresar Asistencia"
                              (click)="calificacionesAasignatura(row)" class="tbl-action-btn">
                              <mat-icon>dvr</mat-icon>
                            </button>
                            <button *ngIf="typeUser === 'Profesor'" mat-mini-fab color="primary"
                              (click)="$event.stopPropagation()" matTooltip="Encuesta"
                              (click)="sendEncuestaSubject(row)" class="tbl-action-btn">
                              <mat-icon>file_copy</mat-icon>
                            </button>

                          </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;" [style.cursor]="'pointer'" matRipple>
                        </mat-row>
                      </table>

                      <table *ngIf="!view" mat-table [dataSource]="DataActivities" matSort
                        class="mat-cell advance-table">


                        <ng-container matColumnDef="name">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre de actividad
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row">
                            <span class="mobile-label">Nombre de actividad:</span>{{row.name}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="activityModeName">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Modalidad de la actividad
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row">
                            <span class="mobile-label">Modalidad de la
                              actividad:</span>{{row.activityModeName}}</mat-cell>
                        </ng-container>


                        <ng-container matColumnDef="activityTypeName">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo de actividad
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row">
                            <span class="mobile-label">Tipo de actividad:</span>{{row.activityTypeName}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="activityLocationName">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Lugar
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row">
                            <span class="mobile-label">Lugar:</span>{{row.activityLocationName}}</mat-cell>
                        </ng-container>


                        <ng-container matColumnDef="isExecuted">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Ejecutada
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row">
                            <span class="mobile-label">Ejecutada:</span>{{row.isExecuted===true?"Si":"No"}}</mat-cell>
                        </ng-container>


                        <!-- actions -->
                        <ng-container matColumnDef="actions">
                          <mat-header-cell class="pr-0" *matHeaderCellDef>Acciones</mat-header-cell>
                          <mat-cell *matCellDef="let row; let i=index;" class="pr-0">


                            <button *ngIf="typeUser === 'Profesor'" mat-mini-fab color="primary"
                              (click)="$event.stopPropagation()" matTooltip="Ver Detalle" (click)="Detail2(row)"
                              class="tbl-action-btn">
                              <mat-icon>remove_red_eye</mat-icon>
                            </button>

                            <button *ngIf="typeUser === 'Profesor'" mat-mini-fab color="primary"
                              (click)="$event.stopPropagation()" matTooltip="Ingresar Asistencia"
                              (click)="calificacionesActividades(row)" class="tbl-action-btn">
                              <mat-icon>dvr</mat-icon>
                            </button>
                            <button *ngIf="typeUser === 'Profesor'" mat-mini-fab color="primary"
                              (click)="$event.stopPropagation()" matTooltip="Encuesta" (click)="sendEncuestas(row)"
                              class="tbl-action-btn">
                              <mat-icon>file_copy</mat-icon>
                            </button>



                          </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns2;" [style.cursor]="'pointer'" matRipple>
                        </mat-row>
                      </table>
                    </div>
                    <!-- Loading spinner -->
                    <!-- <div *ngIf="exampleDatabase?.isTblLoading" class="tbl-spinner">
                            <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                            </mat-progress-spinner>
                          </div> -->
                    <!-- context menu start -->
                    <!-- <div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x"
                            [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
                          </div> -->



                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>