<div class="addContainer">
    <div class="modalHeader">
      <div class="editRowModal">
        <div class="modalHeader clearfix">
          <div class="modal-about">
            {{dialogTitle}}
          </div>
        </div>
      </div>
      <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div mat-dialog-content>
      <form class="register-form m-4" [formGroup]="activityForm" (ngSubmit)="submit">
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>name</mat-label>
              <input matInput formControlName="name">
              <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
              <mat-error *ngIf="activityForm.get('name')?.hasError('required')">
                El name es requerido
              </mat-error>
            </mat-form-field>
          </div>
          
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Monto de matrícula</mat-label>
              <input matInput formControlName="enrollmentFee">
              <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
              <mat-error *ngIf="activityForm.get('enrollmentFee')?.hasError('required')">
                El monto de matrícula es requerido
              </mat-error>
            </mat-form-field>
          </div>
          
           
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Horas de curso</mat-label>
              <input matInput formControlName="numOfHours">
              <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
              <mat-error *ngIf="activityForm.get('numOfHours')?.hasError('required')">
                las horas de curso son requeridas
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Número de vacantes</mat-label>
                  <input matInput formControlName="numOfVacancies">
                  <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
                  <mat-error *ngIf="activityForm.get('numOfVacancies')?.hasError('required')">
                    el número de vacantes es requerida
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
               
                <mat-form-field class="example-full-width " appearance="outline">
                  <mat-label>Tipo de perfil</mat-label>
                  <mat-select formControlName="profileType" >
                    <mat-option [value]="1">
                      Administrativo
                    </mat-option>
                    <mat-option [value]="2">
                      Judicial
                    </mat-option>

                  </mat-select>
                  <mat-error *ngIf="activityForm.get('profileType')?.hasError('required')">
                    el tipo de perfil es requerido
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
                <mat-form-field class="example-full-width " appearance="outline">
                    <mat-label>Estatus</mat-label>
                    <mat-select formControlName="statusId" >
                      <mat-option [value]="1">
                          Activo
                      </mat-option>
                      <mat-option [value]="2">
                          Inactivo
                      </mat-option>

                    </mat-select>
                    <mat-error *ngIf="activityForm.get('statusId')?.hasError('required')">
                      el estatus es requerido
                    </mat-error>
                  </mat-form-field>
              </div>
        </div>
         
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
              <div class="example-button-row">
                <button mat-raised-button color="primary" [disabled]="!activityForm.valid" [mat-dialog-close]="1"
                  (click)="confirmAdd()">Guardar</button>
                <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancelar</button>
              </div>
            </div>
          </div>
      </form>
    </div>
  </div>
  

