<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Matrícula'" [items]="['Inicio','Admisión','Cronograma']"
                      [active_item]="'Detalle del Matrícula'">
      </app-breadcrumb>
    </div>

    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div #imageElement class="header" *ngIf="_ActivityService.loading==false">
            <h2 class="text-uppercase">Detalles de Estudiante</h2>
          </div>
          <div class="body" *ngIf="_ActivityService.loading==false">
            <div class="row">
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                <h6>Nombres</h6>
                <label for="">{{ _ActivityService._DetailsResponseEF.firstName }}
                </label>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                <h6>Primer Apellido</h6>
                <label for="">{{ _ActivityService._DetailsResponseEF.lastName }}
                </label>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                <h6>Segundo Apellido</h6>
                <label for="">{{ _ActivityService._DetailsResponseEF.secondsurname }}
                </label>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                <h6>Sexo</h6>
                <label for="">{{ _ActivityService._DetailsResponseEF.gender }}</label>
              </div>

            </div>

            <div class="row">
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                <h6>Tipo de sangre</h6>
                <label for="">{{ _ActivityService._DetailsResponseEF.bloodtype }}</label>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                <h6>Estado civil</h6>
                <label for="">{{ _ActivityService._DetailsResponseEF.maritalStatus }}</label>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                <h6>Nombre del cónyuge</h6>
                <label for="">{{ _ActivityService._DetailsResponseEF.nameOfspouse }}</label>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                <h6>Malla Curricular</h6>
                <label for="">{{ _ActivityService._DetailsResponseEF.degreeName }}</label>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                <h6>Duración en años </h6>
                <label for="">{{ _ActivityService._DetailsResponseEF.durationInYears }}</label>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                <h6>Modalidad</h6>
                <label for="">{{ _ActivityService._DetailsResponseEF.studyModeName }}</label>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                <h6>Número de créditos</h6>
                <label for="">{{ _ActivityService._DetailsResponseEF.numOfCredits }}</label>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                <h6>En caso de emergencia avisar a</h6>
                <label for="">{{ _ActivityService._DetailsResponseEF.caseOfemergency }}</label>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                <h6>Número residencial y/o celular </h6>
                <label for="">{{ _ActivityService._DetailsResponseEF.telephoneNumberEmergency }}</label>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                <h6>Correo</h6>
                <label for="">{{ _ActivityService._DetailsResponseEF.email }}</label>
              </div>
            </div>

          </div>

          <mat-progress-bar mode="indeterminate" *ngIf="_ActivityService.loading==true"></mat-progress-bar>
        </div>
        <div class="card">
          <div class="header">
            <h2 class="text-uppercase"><strong>Listado de matriculas</strong>
            </h2>
          </div>
          <div class="body">
            <div class="body table-responsive " *ngIf="_ActivityService.loading==false">
              <table mat-table [dataSource]="dataInfo" class="w-100">
                <ng-container matColumnDef="SubjectName">
                  <th mat-header-cell *matHeaderCellDef> Nombre </th>
                  <td mat-cell *matCellDef="let element">{{ element.degreeName }} </td>
                </ng-container>

                <ng-container matColumnDef="DegreeName">
                  <th mat-header-cell *matHeaderCellDef> Descripcion </th>
                  <td mat-cell *matCellDef="let element">{{ element.descriptionName }} </td>
                </ng-container>
                <ng-container matColumnDef="ClassShift">
                  <th mat-header-cell *matHeaderCellDef> Estado</th>
                  <td mat-cell *matCellDef="let element">{{ element.statusDegreeCurriculumDesign |statusPipe }}</td>
                </ng-container>
                <ng-container matColumnDef="RoomName">
                  <th mat-header-cell *matHeaderCellDef> Fecha de Inicio</th>
                  <td mat-cell *matCellDef="let element">{{ element.startDate | date:'dd/M/yyyy' }} </td>
                </ng-container>
                <ng-container matColumnDef="createDate">
                  <th mat-header-cell *matHeaderCellDef> Fecha de Fin</th>
                  <td mat-cell *matCellDef="let element">{{ element.endDate | date:'dd/M/yyyy' }} </td>
                </ng-container>
                <ng-container matColumnDef="accion">
                  <th mat-header-cell *matHeaderCellDef> Acción</th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-mini-fab color="primary" (click)="goSubjects(element)" matTooltip="Ver Asignaturas">
                      <mat-icon>remove_red_eye</mat-icon>
                    </button>
                    <!-- <button mat-mini-fab color="primary" (click)="verCalificaciones(element)"
                      matTooltip="Ver Asistencia">
                      <mat-icon>mobile_friendly</mat-icon>
                    </button> -->
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="DisplayNameInfo"></tr>
                <tr mat-row *matRowDef="let row; columns: DisplayNameInfo;"></tr>
              </table>
              <mat-paginator #ListaInfo [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
            </div>
          </div>
          <mat-progress-bar mode="indeterminate" *ngIf="_ActivityService.loading==true"></mat-progress-bar>
        </div>
      </div>
    </div>


  </div>
</section>
