<section class="content">
    <div class="content-block">
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="'Inscrpción de Educación Formal'" [items]="['Home','Admisión','Educación Formal']"
                [active_item]="'Inscrpción de Educación Formal'">
            </app-breadcrumb>
        </div>
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="header">
                    </div>
                    <div class="body">
                        <h2><strong>Formulario de Inscrpción de Educación Formal</strong></h2>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>