<!-- <h2 mat-dialog-title>Normas de uso y comportamiento</h2>
<mat-dialog-content class="mat-typography">
  <h3>NORMAS DE USO</h3>
  <p>Al participar en este foro, aceptas cumplir con nuestras normas de uso. Respeta a los demás usuarios, evita el lenguaje ofensivo y mantén una actitud constructiva.</p>

  
</mat-dialog-content>
<mat-dialog-actions align="end">

  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Aceptar terminos</button>
</mat-dialog-actions> -->

<h2 mat-dialog-title>Normas de Uso y comportamiento</h2>
<mat-dialog-content>
  <!-- <p class="large-text">
    Los foros tienen como propósito promover el debate de los temas propuestos y generar nuevos conocimientos a través de la interacción. Sin embargo, es importante tener en cuenta que los comentarios expresados en estos espacios son únicamente opiniones bajo la responsabilidad de sus emisores y no representan necesariamente la postura de esta entidad.

    Para asegurar un ambiente propicio para el intercambio de ideas, los usuarios deben adherirse a las siguientes normas básicas de participación: 
    
    -Respetar las leyes y normativas aplicables. 
    
    -Respetar la dignidad humana y no discriminar.
    
    -Mantener relevancia en los comentarios. Los usuarios deben utilizar el foro exclusivamente para discutir temas relacionados con los contenidos propuestos. 
    
    Esta dependencia se reserva el derecho de suprimir aquellos comentarios que resulten contrarios a las normas de participación.
    
  </p> -->
  
  <p class="large-text">Los foros tienen como propósito promover el debate de los temas propuestos y generar nuevos conocimientos a través de la interacción.</p>

<p class="large-text">Para asegurar un ambiente propicio para el intercambio de ideas, los usuarios deben adherirse a las siguientes normas básicas de participación:</p>

    <ul class="large-text">
      <li> Respetar las leyes y normativas aplicables.</li>
      <li> Respetar la dignidad humana y no discriminar.</li>
      <li> Mantener relevancia en los comentarios.</li>
    </ul>

<p class="large-text">Esta dependencia se reserva el derecho de suprimir aquellos comentarios que resulten contrarios a las normas de participación.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button [mat-dialog-close]="true" color="primary" cdkFocusInitial>Aceptar</button>
</mat-dialog-actions>

