<section class="content">
    <div class="content-block">
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="'Insumos Necesarios'" [items]="['Home','Admisión','Insumos']"
                [active_item]="'Insumos'">
            </app-breadcrumb>
        </div>
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>Insumos Necesarios</strong></h2>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>